<div class="col-lg-9">
    <div class="content h-100">
        <div class="bg-white h-100 p-4">
            <div class="row">
                <div class="col-12">
                    <?= $this->Html->image('underconstruction.jpg',['class' => 'img-fluid'])?>
                </div>
            </div>
        </div>
    </div>
</div>
