#card-errors {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#card-element.card {
    background-color: transparent !important;
    border: 1px solid #3a444e;
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.custom-model .input-group-text {
    background-color: #171b21;
    border-color: #3a444e;
    color: #969696;
    font-size: 18px;
}

.verified-img {
    width: 200px;
}