.top-dropdown .dropdown-menu{
    left: auto;
    right: 0;
}
.top-dropdown button{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}
.top-dropdown button:hover{
    color: #fff;
}
.top-dropdown button:focus{
    box-shadow: none;
}
.container-content {
    background-color: #1a2229;
}
.content {
    background-color: #f8f8f8;
    padding: 20px;
    margin-left: -15px;
    margin-right: -15px;
}
.user-profile {
    width: 70px;
    height: 70px;
    background: #313338;
    border-radius: 100%;
    overflow: hidden;
    margin: 30px auto;
}
.user-profile #user-icon {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    fill: #222326;
    position: relative;
    top: 4px;
}
.nav-sidebar ul li a{
    color: #787d80;
    font-weight: 500;
    font-size: 16px;
}
.nav-sidebar ul li a svg{
    fill: #787d80;
    margin-right: 5px;
}
.nav-sidebar ul li {
    padding: 12px 15px;
    background: url(../images/border-bootm.png) repeat-x;
    background-size: auto 2px;
    position: relative;
}
.nav-sidebar ul li:hover svg,
.nav-sidebar ul li.active svg{
    fill: #fff;
    vertical-align: middle;
}
.nav-sidebar ul li:hover a,
.nav-sidebar ul li.active a{
    color: #fff;
    text-decoration: none;
}

.sidebar-nav {
    border: none;
    padding-bottom: 40px;
}
.nav-sidebar ul li::before,
.nav-sidebar ul li.active::before {
    background-color: transparent;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 5px;
}
.nav-sidebar ul li:hover::before,
.nav-sidebar ul li.active::before{
    background-color: #ce0000;
}
.product img {
    max-width: 100%;
}
.product-name, .product-price{
    font-weight: 500;
}
.tab-title{
    font-size:20px;
    font-weight: 500;
}
.upload-file {
    width: 120px;
    height: 120px;
}
.upload-file img{
    width: 100%;
    height: 100%;
}
.menubar {
    display: none;
}
.cover-img {
    position: relative;
    height: 250px;
}
.cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.choose_file {
    position: absolute;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 32px;
    top: 10px;
    right: 20px;
}
.choose_file svg{
    cursor:pointer;
}
.choose_file input[type="file"] {
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 24px;
    height: 24px;
}
.profile-pic {
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -90px;
    margin-left: 40px;
}
.choose_file.upload-profile {
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 3px 1px #cccccc;
    width: 28px;
    height: 28px;
    bottom: 20px;
    top: auto;
    left: auto;
    right: -4px;
    line-height: 28px;
}
.profile-name {
    position: absolute;
    bottom: 15px;
    left: 180px;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.biography textarea {
    min-height: 140px;
    font-weight: 300;
    font-size: 15px;
}
.upcoming-cover img{
    width: 100%;
    height: 180px;
}
.upcoming-show {
    background: #fff;
    box-shadow: 0 0 4px 0px #e2e0e0;
}
.upcoming-show ul {
    padding: 0px 10px;
}
.upcoming-show ul li {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 5px;
    margin-top: 5px;
    color:#2a2a2b;
}

.upcoming-show ul li svg {
    vertical-align: top;
}
.payment-icon img{
    width: 250px;
}

.object-fit-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media only screen and (max-width:992px) {
    .menubar{
        display: block;
   }
}
@media only screen and (max-width:768px) {
    .cover-img img {
        width: 100%;
        height: 150px;
   }
}
@media only screen and (max-width:575px) {
    .profile-pic {
        width: 100px;
        height: 100px;
        position: relative;
        margin-top: -60px;
        margin-left: 10px;
   }
    .profile-name {
        position: absolute;
        left: 130px;
        font-size: 18px;
   }
}
