/*background color*/
.bg-red {
    background-color: #e40734;
}

.bg-dark {
    background-color: #1b232e !important;
    /* border-bottom: 2px solid #2a3543; */
}

.bg-blue {
    background-color: #1d2cf3;
}

.bg-gray {
    background-color: #dadada;
}

.bg-light-gray {
    background-color: #f1f1ef;
}



/*text color */
.text-white {
    color: #fff;
}

.text-dark {
    color: #333;
}

.text-gray {
    color: #969696;
}

.text-red {
    color: #e40734;
}

.text-light-gray {
    color: #d3d4d6;
}

.font-weight-500 {
    font-weight: 500;
}

/* display */
.d-inline-block {
    display: inline-block;
}

.outline-none:focus {
    outline: none;
}
