
.menu-trigger {
  position: absolute;
  top: 25px;
  cursor: pointer;
  right: 15px;
}
.menu-container{
   overflow: auto;
   display: block;
   top: 120px;
   
}
.menu-container::-webkit-scrollbar {
  width: 4px;
}

.menu-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); 
}
 
.menu-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.11); 
}

.menu-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.position-left{
   left: -270px;
}
.position-right{
   right: -270px;
}

.position-left.open{
    left: 0;
}

.position-right.open{
    right: 0;
}

.menu-container,
.menu-head,
.menu-left,
.menu-left.open
.menu-right,
.menu-right.open{
    transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
   
}

.menu-container{
  background: #1a2229;
  position: fixed;
  z-index: 9999;
  width: 270px;
  top: 0;
  height: 100%;
}

@keyframes fadeIn{
   from{
     opacity: 0;
    -webkit-opacity: 0;
    }
    to{
     opacity: 1;
    -webkit-opacity: 1;
   }
}
-webkit-@keyframes fadeIn{
   from{
     opacity: 0;
    -webkit-opacity: 0;
    }
    to{
     opacity: 1;
    -webkit-opacity: 1;
   }
}

/* Dim background effect */
.dim-overlay{
   display: none;
}

.dim-overlay:before {
	content: "";
	background-color: rgba(0, 0, 0, .4);
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 2;
}

@media only screen and (max-width:768px) {
  .menu-trigger{
      top: 15px;
  }
}