.text-base {
    font-size: 14px;
}

/*div.control-container {
    margin-top: 5px;
    padding-bottom: 5px;
}*/

div.control-container div.amplitude-play-pause {
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* float: left; */
    margin-left: 10px;
}

div.control-container div.amplitude-prev {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../img/previous.svg) no-repeat center center/60%;
}

div.control-container div.amplitude-next {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../../img/next.svg) no-repeat center center/60%;
}

@media (max-width: 767px) {
    div.control-container div.amplitude-prev {
        background: url(../../img/previous.svg) no-repeat center center/40%;
    }

    div.control-container div.amplitude-next {
        background: url(../../img/next.svg) no-repeat center center/40%;
    }
}

div.control-container div.amplitude-play-pause.amplitude-paused {
    background: url("../../img/play.svg") no-repeat center center;
    background-size: 90%;
}

div.control-container div.amplitude-play-pause.amplitude-playing {
    background: url("../../img/pause.svg") no-repeat center center;
    background-size: 80%;
}

div.control-container div.meta-container {
    color: white;
    /* margin-top: 10px; */
}

div.control-container div.meta-container span[data-amplitude-song-info="name"] {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    /* display: block; */
}

div.control-container div.meta-container span[data-amplitude-song-info="artist"] {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    /* font-size: 14px; */
    color: #fff;
    /* display: block; */
}


div.control-container:after {
    content: "";
    display: table;
    clear: both;
}

/*
  Small only
*/
@media screen and (max-width: 39.9375em) {
    div.control-container div.amplitude-play-pause {
        background-size: cover;
        width: 54px;
        height: 54px;
    }
}

/*
  Medium only
*/
/*
  Large Only
*/
div.time-container {
    opacity: 0.5;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: 12px;
    color: #fff;
    height: 15px;
    ￼
}

￼ div.time-container span.current-time {
    ￼ float: left;
    ￼ margin-left: 5px;
}

div.time-container span.duration {
    float: right;
    margin-right: 5px;
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
progress.amplitude-song-played-progress {
    background-color: #313252;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 3px;
    display: block;
    cursor: pointer;
    border: none;
}

progress.amplitude-song-played-progress:not([value]) {
    background-color: #313252;
}

progress[value]::-webkit-progress-bar {
    background-color: #313252;
}

progress[value]::-moz-progress-bar {
    background-color: #e40734;
}

progress[value]::-webkit-progress-value {
    background-color: #e40734;
}


/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
/*
  3. Layout
*/
div.bottom-container {
    background-color: #202136;
    /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
}

/*
  Small only
*/
/*
  Medium only
*/
/*
  Large Only
*/
div#single-song-player {
    /* border-radius: 10px;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    width: 100%;
    max-width: 460px;
    -webkit-font-smoothing: antialiased; */
    position: fixed;
    bottom: 0;
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 0;
    right: 0;
}

div#single-song-player img[data-amplitude-song-info="cover_art_url"] {
    width: 54px;
    height: 54px;
}

a.learn-more {
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #202136;
    font-family: "Lato", sans-serif;
    padding: 20px;
    font-weight: 100;
}

.leading-tight {
    line-height: 17px;
}
