html {
    position: relative;
    min-height: 100%;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'nationale', sans-serif;
    background-color: #ececec;
    color: #333;
    height: 100%;
    font-size: 16px;
    padding-top: 79px;
    /* overflow: hidden;
    */
}

.change-category {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid red !important;
 }
 .nav-tabs .nav-link{
     color: #fff;
     text-transform: uppercase;
 }

 .nav-tabs{
     border-bottom: none;
 }

 .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
     border-color: transparent;
 }

 .divider{
    border-bottom: 2px solid #908a8a;
    width: 80%;
    margin: 0 AUTO;
    margin-bottom: 15px !important;
 }

.text-xs {
    font-size: 97%;
}

@media (max-width: 767px) {
    .text-xs {
        font-size: 70%;
    }
}

.error {
    color: #ff0000 !important;
    font-size: 13px;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    body {
        padding-top: 50px;
        margin-bottom: 50px;
    }
}


/*fonts*/

@font-face {
    font-family: 'lulocleanw01-oneboldregular';
    src: url('../Fonts/lulo_clean_w01_one_bold.woff2') format('woff2'), url('../fonts/lulo_clean_w01_one_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lulocleanw01-oneregular';
    src: url('../Fonts/lulo_clean_w01_one.woff2') format('woff2'), url('../fonts/lulo_clean_w01_one.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pacifica_condensedregular';
    src: url('../Fonts/pacificacondensedregular.woff2') format('woff2'), url('../fonts/pacificacondensedregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nationale';
    src: url('../Fonts/nationale-regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'nationale';
    src: url('../Fonts/nationale-demibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'nationale';
    src: url('../Fonts/nationale-bold.woff2') format('woff2');
    font-weight: 800;
}

.pc-bold {
    /* font-family: 'lulocleanw01-oneboldregular'; */
    font-weight: bold;
}


/*header*/

.top-login a {
    /* font-family: 'lulocleanw01-oneregular'; */
    font-size: 14px;
    color: #fff;
}

.register {
    display: inline-block;
    height: 42px;
    line-height: 42px;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-text {
    position: absolute;
    top: 0;
    color: #FFF;
    bottom: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    left: 0;
    right: 0;
    width: 80%;
    padding-left: 120px;
}

.slider-caption {
    position: relative;
    z-index: 99;
}

.slider-caption a {
    height: 59px;
    display: inline-block;
    width: 160px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.slider-caption a::last-child {
    color: #333;
}

.slider-caption p {
    font-size: 36px;
}

.main-text h1 {
    font-family: 'pacifica_condensedregular';
    font-size: 70px;
}

.carousel-indicators {
    right: auto;
    top: 0;
    margin: 0;
    list-style: none;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(90deg);
    align-items: center;
}

.home-slider .carousel-indicators li {
    width: 16px;
    height: 16PX;
    border-radius: 100%;
    border-top: 0;
    border-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.home-slider .carousel-indicators .active {
    opacity: 1;
    width: 14px;
    height: 14px;
    background: #e40734;
    border: 2px solid white;
}

.footer {
    color: #fff;
    width: 100%;
    text-align: center;
}

.footer h2 {
    /* font-family: 'lulocleanw01-oneboldregular'; */
    font-size: 24px;
    line-height: 40px;
}

.copy-right {
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0;
}


/*footer link*/

.footer-link {
    height: 57px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #f2f2f2;
    z-index: 9999;
}

.footer-link ul {
    margin: 0;
    padding: 0;
}

.footer-link ul li {
    list-style: none;
    text-align: center;
    height: 100%;
    /* text-transform: capitalize; */
    vertical-align: middle;
    border-right: 1px solid #dddddd;
    padding: 9px 8px 5px 8px;
    width: 100%;
}

.footer-link img {
    width: 32%;
    margin-bottom: 3px;
}

.footer-link ul li::last-child {
    border-right: 0;
}

.footer-link span {
    font-weight: 300;
    font-size: 13px;
}

.page-title {
    border-top: 1px solid #8c939c;
}

.page-title h2,
.register-form h2 {
    /* font-family: 'lulocleanw01-oneboldregular'; */
    font-size: 25px;
}

.form-sub-title p {
    font-size: 18px;
    font-weight: 300;
}

.form-width {
    width: 400px;
    margin: 0 auto;
}

.register-form h2 {
    font-size: 30px;
}

.custom-input {
    /*background-color: #ececec;
    border-radius: 8px;*/
    height: 49px;
    box-shadow: 0 1px 2px 0px #d0d0d0;
}

.custom-progress .bg-success {
    background-color: #e40734 !important;
}

.progress {
    background-color: #fff !important;
    border: 2px solid #e40734;
    border-radius: 50px;
}

.question-number,
.question-text {
    font-size: 22px;
    /* font-family: 'lulocleanw01-oneregular'; */
}

.black-btn {
    background: #1b232e;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 9px 24px;
}

.back-btn {
    background: #dadada;
    color: #333;
    border: none;
    padding: 9px 24px;
}

.custom-progress {
    margin-top: 40px;
}

.custom-margin {
    margin-top: 150px;
    margin-bottom: 100px;
}

.custom-label {
    font-weight: 400;
}

.play-img {
    position: absolute;
    margin-right: 40px;
    left: 60px;
}

.black-header-setting {
    position: relative;
}

.black-header-setting h2 {
    margin-left: 80px;
}

.form-control::-webkit-input-placeholder {
    /* Edge */
    color: #a3a3a3;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a3a3a3;
}


/* Custom radio btn */

.custom-radio-btn {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%
}

.custom-radio-btn:hover input~.checkmark {
    background-color: #ccc;
}

.custom-radio-btn input:checked~.checkmark {
    background-color: #565656;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-radio-btn input:checked~.checkmark:after {
    display: block;
}

.custom-radio-btn .checkmark:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/** custom checkbox **/

.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

body .custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 0 !important;
}

.custom-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.custom-checkbox input:checked~.checkmark {
    background-color: #1b232e;
}

.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.relative-position {
    position: relative;
}

.relative-position img {
    position: absolute;
    top: 41px;
    left: 10px;
    width: 30px;
}

.relative-position .form-control {
    padding-left: 45px;
}


/** custom file upload **/

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
}

.upload-btn-wrapper .btn {
    border: 2px solid #1b232e;
    color: #fff;
    background-color: #1b232e;
    padding: 7px 28px;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.capital-goal {
    width: 274px;
    margin-top: 16px !important;
}

.relative-position .upload-btn-wrapper {
    position: absolute;
    right: 0;
    top: -18px
}

.relative-position .upload-btn-wrapper .btn {
    padding: 12px 28px;
    border-radius: 0;
    margin-top: 18px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.black-btn:hover {
    color: #fff;
}

.add-more .btn,
.remove-btn .btn,
.add-shows .btn {
    padding: 3px 8px;
    font-size: 12px;
}

.remove-btn .btn {
    background: #e40734;
}

.upcoming-show-img img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.relative {
    position: relative;
}

.relative img {
    position: absolute;
    right: 17px;
    top: 15px;
}

.plan-title {
    /* font-family: 'lulocleanw01-oneboldregular'; */
    font-size: 12px;
    font-weight: bold;
}

.plan-box-content {
    font-size: 13px;
    line-height: 35px;
    color: #868383;
}

.plan-box {
    padding: 12px;
}

.plan-box.active,
.plan-box.active .plan-box-content,
.plan-box.active .sound,
.plan-box.active .sound-check,
.plan-box.active .sound-check-live {
    background: #e40734;
    color: #fff;
    border-radius: 4px;
}

.sound-check-live {
    color: #e40734;
}

.sound-check {
    color: #c1a03c
}

.sound {
    color: blue;
}

.thanku-text {
    /* font-family: 'lulocleanw01-oneboldregular'; */
    font-size: 22px;
}

.thanku-para-txt {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.thin-text {
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
}

.catalog-here {
    color: #e40734;
}

.thanku-page {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.left-panel {
    width: 250px;
    background: #111720;
    color: #fff;
    height:calc(100vh - 79px);
    float: left;
    position: fixed;
    overflow:auto;
}

.right-panel {
    width: calc(100% - 250px);
    margin-left: 250px;
    background: #1b232e;
    height: 100%;
    /* float: left;
    */
}

.clearfix::after {
    display: block;
    clear: both;
    content: ""
}

.left-panel ul li {
    line-height: 34px;
    margin-bottom: 15px;
    padding-left: 16px;
}

.left-panel {
    padding-top: 60px;
}

.left-panel .active {
    border-left: 4px solid #ce0000;
}

.left-panel li a:hover {
    color: #fff;
    text-decoration: none;
}

.left-panel img {
    vertical-align: sub;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.song-name {
    color: #fff;
    font-size: 14px;
    margin-bottom: 2x;
}

.artist-name,
.record-name {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 2px;
}

.artist-name span,
.record-name span {
    font-weight: 500;
    margin-right: 5px;
}

.right-panel h4 {
    color: #fff;
    padding: 25px 0;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.left-panel ul li a {
    font-size: 14px;
    font-weight: 300;
}

.owl-nav .owl-prev,
.carousel-control-prev-icon {
    background-image: url('../images/left-arrow.png'), -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.27) 73%, rgba(0, 0, 0, 0) 100%);
    background-image: url('../images/left-arrow.png'), -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(73%, rgba(0, 0, 0, 0.27)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: url('../images/left-arrow.png'), -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.27) 73%, rgba(0, 0, 0, 0) 100%);
    background-image: url('../images/left-arrow.png'), -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.27) 73%, rgba(0, 0, 0, 0) 100%);
    background-image: url('../images/left-arrow.png'), -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.27) 73%, rgba(0, 0, 0, 0) 100%);
    background-image: url('../images/left-arrow.png'), linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.27) 73%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
    width: 100px;
    top: 0;
    position: absolute;
    bottom: 0;
    height: calc(100% - 77px);
    outline: none;
    cursor: pointer !important;
}



#sclive .owl-nav .owl-prev,
#sclive .carousel-control-prev-icon {
    background-image: url('../images/left-arrow.png');
    background-image: url('../images/left-arrow.png');
    background-image: url('../images/left-arrow.png');
    background-image: url('../images/left-arrow.png');
    background-image: url('../images/left-arrow.png');
    background-image: url('../images/left-arrow.png');
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
    width: 100px;
    top: 0;
    position: absolute;
    bottom: 0;
    height: calc(100% - 0px);
    outline: none;
    cursor: pointer !important;
}


.owl-nav .owl-next,
.carousel-control-next-icon {
    right: 0;
    position: absolute;
    height: 56px;
    width: 100px;
    top: 0;
    bottom: 0;
    height: calc(100% - 77px);
    cursor: pointer !important;
    background-image: url("../images/right-arrow.png"), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.27) 27%, rgba(0, 0, 0, 1) 100%);
    background-image: url("../images/right-arrow.png"), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.27) 27%, rgba(0, 0, 0, 1) 100%);
    background-image: url("../images/right-arrow.png"), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.27) 27%, rgba(0, 0, 0, 1) 100%);
    background-image: url("../images/right-arrow.png"), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.27) 27%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
}

#sclive .owl-nav .owl-next,
#sclive .carousel-control-next-icon {
    right: 0;
    position: absolute;
    height: 56px;
    width: 100px;
    top: 0;
    bottom: 0;
    height: calc(100% - 0px);
    cursor: pointer !important;
    background-image: url("../images/right-arrow.png");
    background-image: url("../images/right-arrow.png");
    background-image: url("../images/right-arrow.png");
    background-image: url("../images/right-arrow.png");
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=1);
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
}

.owl-nav span {
    display: none;
}

.owl-nav-h .owl-nav .owl-prev,
.owl-nav-h .owl-nav .owl-next {
    height: calc(100% - 6px);
}

.owl-theme .owl-nav .disabled {
    opacity: 0;
    cursor: default;
}

.gray-text {
    font-size: 13px;
    color: #fff;
    font-weight: 300;
}

.price {
    font-size: 13px;
    color: #fff;
    font-weight: 300;
}

.btn-border {
    background: #141a23;
    color: #fff;
    border: 1px solid #3e454e;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: 300;
    border-radius: 4px;
}

.btn-border:hover {
    background-color: #3e444e;
}

.btn-border:hover {
    color: #fff;
}

.catalogue-footer ul li a {
    font-weight: 300;
    font-size: 14px;
    line-height: 36px;
    color: #d0d0d0;
    text-transform: capitalize;
}

.catalogue-footer h4 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 10px;
}

.border-custom {
    border-top: 1px solid #283445;
    border-bottom: 1px solid #283445;
    margin-top: 60px;
    padding: 34px 0;
}

.copy-right {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    padding: 15px !important;
}

.artist-detail label {
    font-weight: 500;
}

.btn-play {
    background-color: #ffffff;
    color: #333;
    border: 2px solid #e7063b;
}

.btn-play:hover {
    color: #333;
}

.btn-play img {
    width: 20px;
}

.catalogue-footer {
    background: #1b232e;
}

#sticky-footer {
    flex-shrink: none;
}

.no-of-partner {
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    color: #969696;
}

.no-of-partner span {
    margin-right: 5px;
}

.custom-margin {
    margin-top: 130px;
    padding-left: 50px;
    padding-right: 50px;
}

.discount-offer {
    color: #d50032;
    font-size: 13px;
}

.price-text {
    font-weight: 500;
}

.btn-more {
    background: #2c3a4c;
    color: #fff;
    padding: 9px 38px;
    border-radius: 4px;
    font-weight: 300;
}

.btn-more:hover {
    color: #fff;
}

.marchandise-top-header .form-control {
    text-transform: uppercase;
    font-size: 13px;
}

.custom-model .modal-content {
    background: #111720;
}

.custom-model .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.custom-border {
    background: url(../images/border-bootm.png) repeat-x;
}

.custom-model .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e40734;
    opacity: 10;
    text-shadow: none;
    color: #fff;
    font-weight: 400;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    padding: 0;
}

.partner-now {
    background: #ce0000;
    color: #fff;
    font-weight: 400;
}

.payment {
    border: 1px solid #3a444e;
    padding: 5px;
    margin-left: 10px;
    width: 50px;
    text-align: center;
    font-size: 22px;
    border-radius: 2px;
    margin-bottom: 16px;
}

.doller {
    font-size: 24px;
    margin-bottom: 15px;
}

.pay-now {
    border: none;
    color: #fff;
    background-color: #72a80d;
}

.custom-model input {
    background: #111820;
    border-color: #3a444e;
    border-radius: 0;
    height: 42px;
    color: #969696;
}

.tags a {
    background: #a7a7a7;
    color: #333;
    font-size: 13px;
    padding: 1px 8px;
    border-radius: 100em;
    margin-right: 2px;
}

.tags a:hover {
    background: #bdbdbd;
    text-decoration: none;
}

.modal-backdrop.show {
    opacity: .8;
}

.breadcrumb-nav {
    background: #f1f1ef;
}

.breadcrumb-nav .breadcrumb {
    background: transparent;
}

.breadcrumb-nav .breadcrumb .breadcrumb-item {
    font-size: 14px;
    font-weight: 300;
}

.product-dummy {
    width: 100px;
}

.sub-total {
    font-size: 18px;
    font-weight: 600;
}

.remove-btn {
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px;
    height: 32px;
}

.product-title h2 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-discription p {
    font-size: 14px;
    font-weight: 300;
}

.product-price {
    font-size: 24px;
}

.procuct-discount {
    font-size: 14px;
}

.product-color input {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 15px;
    width: 30px;
    height: 30px;
    margin: 0;
}

.product-color input+label {
    border-radius: 50%;
}

.product-color input:checked+label {
    /*border: 3px solid #e40734;*/
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #e40734;
}

.product-size input {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 15px;
    width: 40px;
    height: 40px;
    margin: 0;
}

.product-size label {
    border: 2px solid #ddd;
    background: #f1f1ef;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

.product-size input:checked+label {
    border: 2px solid #e40734;
    background-color: #e40734;
    color: #fff;
}

.product-color h2,
.procuct-size h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.product-add input {
    width: 50px;
    height: 40px;
    text-align: center;
    border: 1px solid #ddd;
}

.add-cart button svg {
    margin-top: -2px;
    margin-right: 10px;
}

.billing-address h3,
.cart-add h3 {
    font-size: 22px;
    font-weight: 500;
}

.cart-add span {
    font-size: 18px;
    font-weight: 400;
}

.checkout-btn {
    font-size: 18px;
    font-weight: 500;
}

.heading h2 {
    font-size: 22px;
    font-weight: 500;
}

.heading p {
    font-size: 16px;
    font-weight: 300;
}

.line {
    background: #283445;
    height: 1px;
    width: 100%;
}

.records {
    font-weight: 300;
}

.records span {
    font-weight: 500;
}

.video-pitch iframe {
    width: 100%;
    height: 700px;
}

.upcoming-events img {
    width: 100%;
    height: 280px;
}

.upcoming-events {
    position: relative;
    cursor: pointer;
}

.show-details {
    background: rgba(243, 29, 48, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.show-details ul {
    top: 50%;
    position: absolute;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.show-details ul li {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 5px;
}

.upcoming-events:hover .show-details {
    display: block;
}

.cover-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 376px;
    margin-bottom: 40px;
    position: relative;
}

.cover-img:before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.artist {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
}

.partner {
    background: #e40134;
    width: 150px;
    height: 42px;
    border-radius: 100em;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.total-partner {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.socail-media {
    margin-top: 20px;
}

.socail-media ul li {
    display: inline-block;
    margin: 0 5px;
}

.list-main-product {
    height: 420px;
}

.list-main-product img {
    max-width: 100%;
}

.icon-images ul {
    margin: 0;
    padding: 0;
}

.listing-product .icon-images ul li {
    width: 24%;
}

.icon-images ul li {
    list-style: none;
    display: inline-block;
    width: 24%;
}

.icon-images ul li img {
    width: 95px;
    height: 95px;
    border-radius: 2px;
    border: 1px solid #ddd;
    padding: 2px;
    cursor: pointer;
}

.crowd-settings{
    margin-top: 11px;
    width: 20px;
    margin-bottom: 4px;

}


/** influencer **/



.mobile-logo{
    width: 50px;
    margin-bottom: 10px;
}

.inner-wraper-influencer{
    background-color: #15202a;
    border-radius: 4px;
    border: 4px solid #4088b8;
}

.inner-wraper-influencer h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}

.inner-wraper-influencer .form-control{
    border-radius: 0;
    background:#182734;
    color:#4a8cbb;
    border-color: #182734;
    height: 50px;
}

.inner-wraper-influencer label {
    color:#fff;
}

.inner-wraper-influencer .form-control::-webkit-input-placeholder { /* Edge */
  color:#4a8cbb;
  }
  
  .inner-wraper-influencer .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#4a8cbb;
  }
  
  .inner-wraper-influencer .form-control::placeholder {
  color:#4a8cbb;
  }

  .btn-submit{
    background: #4088b8;
    color: #fff;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px 20px;
  }

  .btn-submit:hover{
      color:#fff;
  }

  .form-check-label{
      font-size: 14px;
  }

  .red-list-box{
    background: #e10631;
    color: #fff;
    padding: 16px;
    text-transform: uppercase;
    line-height: 36px;
    border-radius: 4px;
    font-size: 14px;
  }

  .instagram-text{
      color:#fff;
      margin-bottom: 20px;
  }

  .box-list-wraper a:hover{
      color: #fff;
      text-decoration: none;
  }



/** equity draft **/

.profile-img img{
    width: 62px !important;
    height: 62px !important;
    border-radius: 50%;
}

.darft-user-name{
    text-transform: uppercase;
    font-size: 17px;
}

.equity-u{
    color:red;
}

.darft-level{
    font-size: 13px;
}

.earning{
    font-size: 14px;
}

.equity-nav .nav-tabs .nav-link{
    text-transform: capitalize;
    font-size: 18px;
}

.table-equity{
    color:#fff
}

.equity-right-panel{
    background: #000;
}

.equity-right-panel .copy-right{
    background-color: #1b232e;

}

.equity-right-panel .table td, 
.equity-right-panel .table th {
    border:none;
    vertical-align: middle;
    padding-bottom: 0;
    font-size: 15px;
}

.equity-right-panel .table th {
    color:#45484d;
    text-transform: uppercase;
}
.equity-right-panel .table td {
    color:#ededed;
    padding: 5px 14px;
}

.equity-draft-img img{
    width: 60px;
    height: 60px;
}

.label-equity{
    border: 2px solid #45484d;
    border-radius: 4px;
    color: #c7c7c7;
    padding: 1px 6px;
    font-size: 10px;
    margin-left: 5px;
    text-transform: uppercase;
}

.master-equity{
    border: 2px solid #40382f;
    border-radius: 4px;
    color: #b4936c;
    padding: 1px 6px;
    font-size: 10px;
    margin-left: 8px;
    text-transform: uppercase;
}

.equity-draft-svg img{
    width: 20px;
}

.personal-short-code{
    color:#fff
}

.cashout{
    background-color: #648f00;
    padding: 3px 20px;
    border-radius: 25px;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: normal;
    color: #fff;
}

.cashout:hover {
    color: #fff;
}

.catalouge-wraper-equity .left-panel {
    padding-top: 28px;
}






@media screen and (max-width: 1024px) {
    .catalogue-footer {
        text-align: center;
    }
    .catalogue-footer h4 {
        margin-top: 15px;
    }
}

@media screen and (max-width:992px) {
    .product-dummy {
        width: 60px;
        margin-bottom: 10px;
    }
}

.middle-nav-custom a {
    text-decoration: none;
}

.middle-nav-custom a:hover,
.middle-nav-custom a:focus,
.middle-nav-custom a:active {
    border-bottom: 2px solid #e40134;
}

.about-us h5 {
    font-weight: bold;
    color: #e40734;
    font-size: 32px;
}

.news-alert {
    background: #e40734;
    height: 24px;
}

.how-scl-works p {
    line-height: 32px !important;
}

.how-scl-works h6 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
}

.mb-custom {
    margin-bottom: 70px;
}


.step-13 .form-group {
    margin-bottom: 20px;
    
}

.gray-strip{
    background: #ccc;
    text-align: center;
    padding: 8px;
    color: #000;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

.progressbar {
    display: inline-block;
    width: 100px;
    margin: 25px;
}
.circle {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
}
.circle canvas {
    vertical-align: middle;
}
.circle div {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
.circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}
.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.thankupage .progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
    border:none;
    background-color: transparent !important;
  }
  
  .thankupage .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #b7b7b7;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .thankupage .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .thankupage .progress .progress-left {
    left: 0;
  }
  
  .thankupage .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .thankupage .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .thankupage .progress .progress-right {
    right: 0;
  }
  
  .thankupage .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .thankupage .progress .progress-value {
    /* position: absolute; */
    top: 0;
    left: 0;
  }
  
 .thankupage p {
     color:#000;
     font-weight: 600;
 }
 .home-text {
   
    font-family: 'lulocleanw01-oneboldregular'
}

body .mobile-width-img{
    width: 135px !important;
    height: 135px !important;
}

.inner-wraper-influencer p {
    color:#fff;
    font-size: 15px;
}
.inner-wraper-influencer ul li {
    color:#fff;
}

.inner-wraper-influencer ol, 
.inner-wraper-influencer ul {
    list-style: disc;
    margin: 27px 35px;
    padding: 0;
    font-style: italic;
}

@media screen and (max-width: 767px) {


    .text-center-mobile{
        text-align:left !important;
    }
    .custom-radio-btn {
        display: block;
        margin-left: 0 !important;
        text-align: left !important;
    }

    .mobile-logo{
        margin-top: 20px;
    }

    .inner-wraper-influencer {
        padding: 4px !important;
    }

    .inner-wraper-influencer .form-control{
        font-size: 14px;
    }

    .twitter-box{
        margin-top: 20px;
    }

    .inner-wraper-influencer p{
        text-align: center;
    }

    .inner-wraper-influencer h2{
        text-align: center;
        font-size: 20px;
    }

    .video-img {
        width: 100% !important;
    }

    .change-category{
        margin-bottom: 20px;

    }

    .home-text {
        color: #212a33 !important;
        font-family: 'lulocleanw01-oneboldregular'
    }

    .watch-video-link {
        color: #2a2ae2 !important;
        width: 100% !important;
        font-size: 12px !important;
        margin-top: 9px !important;
        text-transform: unset !important;
        text-decoration: underline;
    
    }

    .bg-red .text-block{
        padding-top: 30px !important;
    }

    .circle-box .text-block{
        padding-top: 22px;
    }

    .big-text{
        font-size: 14px;
    }

  

    .circle-box{
        display: unset !important
    }

   
        .circle-box .bg-blue {
            border-radius: 50%;
            height: 75px;
            width: 77px;
            margin: 0 auto;
        }

        .circle-box .bg-red {
            border-radius: 50%;
            height: 75px;
            width: 77px;
            margin: 0 auto;
        }
    



    .how-scl-works h6 {
        font-size: 20px !important;
    }
    .mb-custom {
        margin-bottom: 20px !important;
    }
    .about-us h2 {
        font-size: 26px !important;
    }
    .about-us h5 {
        font-size: 25px !important;
    }
    .sneaker-img {
        width: 100% !important;
    }
    .meet-the-team h2 {
        font-size: 25px !important;
    }
    .about-us-slider .owl-nav .owl-prev {
        left: 14px !important;
        height: calc(100% - 88px) !important;
    }
    .about-us-slider .owl-nav .owl-next {
        right: 14px !important;
        height: calc(100% - 88px) !important;
    }

    body .mobile-width-img{
        width: 75px !important;
        height: 75px !important;
    }
    .object-fit-cover {
        display: block;
        width: 165px !important;
        text-align: center;
        margin: 0 auto;
    }
body .video-icon img{
    width: 35px !important;
}

.name-artist{
    font-size: 12px;
}

.video-icon img {
    width: 43px !important;
    position: absolute;
    bottom: 13px;
    right: -58px !important;
    border-radius: 0 !important;
    margin: 0 auto;
    left: 0;
}

    .quote-img img {
        width: 100%;
    }
    .partner-now-input {
        margin-bottom: 10px;
    }
    .partner-now-input img {
        left: -12px !important;
    }
    .partner-now-section {
        position: fixed;
        bottom: 0;
        background: #fff;
        z-index: 99;
        height: 58px;
        padding-top: 5px;
    }
    body .partner-now-input .form-control {
        width: 52% !important;
        border-bottom: 2px solid #9e9595 !important;
        padding-left: 6px !important;
        color: #655d5d !important;
        text-align: center;
        font-weight: 600;
    }
    .btn-red {
        background: #e40734;
        color: #fff;
        padding: 6px 20px;
        border-radius: 50px;
        width: 44% !important;
        position: absolute;
        right: 0;
        top: 7px;
        margin-right: 5px;
    }
    .partner {
        background: #e40134;
        width: 97px;
        height: 35px;
        border-radius: 100em;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
    .middle-nav-custom a {
        font-size: 14px;
    }
    body .middle-nav-custom li {
        margin-right: 13px !important;
    }
    .cover-img {
        padding-top: 30px;
        margin-bottom: 13px;
    }
    .pitch-video-width {
        width: 100% !important;
    }
    .question-answer-wraper {
        margin-bottom: 10px;
    }
    .p-2s {
        border-radius: 100em;
    }
    .control-container {
        margin-bottom: 57px;
    }
    body .question-answer-wraper h2 {
        font-size: 20px !important;
    }
    .mobile-cart {
        width: 30px;
    }
    .navbar-brand img {
        width: 40px;
    }
    #owl-mobile-slide-show .owl-nav .owl-next,
    #owl-mobile-slide-show .carousel-control-next-icon {
        transform: translate(0, -4%) !important;
    }
    #owl-mobile-slide-show .owl-nav .owl-prev,
    #owl-mobile-slide-show .carousel-control-prev-icon {
        transform: translate(0, -4%) !important;
    }
    .about-us h3 {
        font-size: 20px;
    }
    .about-us h4 {
        font-weight: 600;
        font-size: 18px;
        margin-top: 10px;
    }
    .about-us {
        padding: 20px !important;
    }
    .body-margin-settings {
        margin-bottom: 0;
    }
    .marchandise-top-header .form-inline {
        width: 100%;
        display: block
    }
    .right-panel h4 {
        font-size: 20px;
    }
    .catalogue-page {
        margin-bottom: 0 !important;
    }
    .catalogue-footer {
        text-align: center;
    }
    .owl-nav .owl-prev,
    .carousel-control-prev-icon {
        background-image: url("../images/left-arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 70%;
        width: 37px;
        bottom: 0;
        top: auto;
        transform: translate(0, -45%);
    }
    .owl-nav .owl-next,
    .carousel-control-next-icon {
        background-image: url("../images/right-arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 70%;
        width: 37px;
        bottom: 0;
        top: auto;
        transform: translate(0, -45%);
    }


    #sclive .owl-nav .owl-prev,
    #sclive .carousel-control-prev-icon {
        background-image: url("../images/left-arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 70%;
        width: 37px;
        bottom: 0;
        top: auto;
        transform: translate(0, -34%);
    }
    #sclive .owl-nav .owl-next,
    #sclive .carousel-control-next-icon {
        background-image: url("../images/right-arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 70%;
        width: 37px;
        bottom: 0;
        top: auto;
        transform: translate(0, -34%);
    }

    .left-panel {
        display: none;
    }
    .right-panel {
        margin-left: 0;
        width: 100%;
    }
    .register-header-mobile {
        display: none;
    }
    .custom-radio-btn {
        font-size: 15px;
    }
    .thanku-page {
        padding: 0 !important;
    }
    .home-page-content {
        /* font-family: 'lulocleanw01-oneboldregular'; */
        padding: 0 12px !important;
    }
    .outer-menu .menu>div {
        height: 100vh;
    }
    .question-section {
        margin-bottom: 20px !important;
    }
    .mobile-black-header-setting {
        padding: 12px !important;
    }
    .play-img {
        display: none
    }
    .black-header-setting h2 {
        margin-left: 0;
        font-size: 14px !important;
        margin-bottom: 0;
        line-height: 24px;
    }
    .custom-progress {
        margin-top: 20px;
    }
    .question-number,
    .question-text {
        font-size: 16px;
    }
    .custom-margin {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .h-100 {
        height: auto !important;
    }
    .outer-menu .menu>div {
        border-radius: 0 !important;
    }
    .outer-menu .hamburger {
        top: 26px;
        width: 28px;
    }
    .mobile-text {
        background-color: #212a33;
    }
    .main-text {
        text-align: center;
        position: relative;
        top: 0;
        color: #FFF;
        bottom: 0;
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
       
        /* height: calc(100vh - 101px); */
    }
    .slider-caption {
        width: 100%;
        margin-top: 55px;
    }
    .slider-caption h1 {
        color: #212a33;
    }
    .slider-caption a {
        display: block;
        margin: 0 auto;
        border-radius: 100em;
        line-height: 14px;
        font-size: 18px;
    }
    .slider-caption a.fan {
        background-color: #1d2cf3 !important;
        color: #fff !important;
        height: 51px;
    }
    .mobile-text h2 {
        color: #fff;
    }
    .home-footer {
        position: static;
        background-color: #141a1f !important;
        height: auto;
        line-height: 24px;
        padding: 5px 0;
    }
    .main-text h1 {
        font-size: 40px;
    }
    .outer-menu .menu>div>div>ul>li>a {
        font-size: 20px;
    }
    .text-small {
        margin-bottom: -10px;
        display: block;
    }
    body .fan {
        line-height: 36px !important;
    }
    .main-text p,
    .mobile-text h2 {
        font-size: 17px;
        line-height: 28px;
    }
    .main-text p {
        color: #212a33 !important;
        font-family: 'lulocleanw01-oneboldregular';
    }
    .footer h2 {
        /* font-family: 'lulocleanw01-oneboldregular'; */
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 0;
    }
    .top-heading {
        display: none;
    }
}

@media screen and (max-width:575px) {
    .remove-btn {
        font-size: 12px;
        font-weight: 300;
        padding: 0 10px;
        height: 24px;
        line-height: 24px;
    }
}

@media screen and (max-width: 480px) {
    .black-btn,
    .back-btn {
        font-size: 11px;
    }
    .top-login a {
        font-size: 12px;
    }
    .register {
        height: 36px;
        line-height: 36px;
    }
    .top-login a.register {
        padding: 0 12px 0 12px !important;
    }
    .form-width {
        width: 100%;
    }
    .register-form h2 {
        font-size: 15px;
        line-height: 27px;
    }
    .page-title h2 {
        font-size: 18px !important;
    }
    .form-sub-title {
        background: transparent;
        margin-top: 0 !important;
    }
    .form-sub-title p {
        font-size: 16px !important;
    }
}

.audio>.play-overlay {
    display: none;
}

.audio:hover>.play-overlay {
    display: block;
}

.play-overlay {
    position: absolute;
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.play-overlay>svg {
    bottom: 0;
    position: absolute;
    transform: translate(-50%, -100%);
}
.view-all{
    color:#fff;
}
.view-all a:hover{
    color: #fff;
}

@media (max-width: 560px) {
    .search {
        width: 245px;
    }
}

@media (max-width: 480px) {
    .search {
        width: 200px;
    }
}

@media (max-width: 402px) {
    .search {
        width: 170px;
    }
}

@media (max-width: 371px) {
    .search {
        width: 160px;
    }
}

@media (max-width: 353px) {
    .search {
        width: 140px;
    }
}

@media (max-width: 333px) {
    .search {
        width: 125px;
    }
}

.search.form-control:focus {
    box-shadow: none;
}

.text-red {
    color: #FF4040;
    font-weight: 600;
    ;
}

.about-us p {
    line-height: 27px;
    margin-bottom: 18px;
}

.about-us h2 {
    font-weight: bold;
    color: #e40734;
    font-size: 36px;
    text-transform: uppercase;
}

.about-us h4 {
    font-weight: 600;
}

.about-us h3 {
    font-weight: 600;
    color: #FF4040;
}

.italic-style {
    font-style: italic;
    line-height: 30px;
}

.about-us {
    padding: 51px 83px;
}

.red-box {
    background: #ff6161;
    color: #fff;
    padding: 25px;
}

.black-box {
    background: #000;
    color: #fff;
    padding: 25px;
}

.question-answer-wraper p {
    font-style: italic;
}

.border-top-custom {
    border-top: 3px solid #fff;
    width: 42px;
    margin: 0 auto;
}

.question-answer-wraper h2 {
    font-size: 36px !important;
}

.text-small {
    font-size: 11px;
    text-transform: uppercase;
}

.fan {
    line-height: 42px !important;
    position: relative;
    vertical-align: bottom
}

.p-2s {
    padding: 10px;
    margin-right: 5px;
}

.marq-red-strip {
    margin-top: -8px;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

#show-partner-modal {
    -webkit-animation: slide 0.5s forwards !important;
    animation: slide 0.5s forwards !important;
    width: 67%;
    left: -67% !important;
}

.bg-blue-sidebar {
    background: #1b232e;
}


/** artist Profile **/

.middle-nav-custom a {
    color: #fff;
}

.partner-now-input {
    position: relative;
}

.partner-now-input img {
    position: absolute;
    left: -23px;
    top: 11px;
}

.partner-now-input .form-control {
    background: transparent;
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    border-radius: 0;
    padding-left: 0;
    color: #fff !important;
}

.pitch-video-width {
    width: 600px;
}

.btn-red {
    background: #e40734;
    color: #fff;
    padding: 6px 20px;
    border-radius: 50px;
}

.btn-red:hover {
    color: #fff;
}

.btn-share-now {
    background: #fff;
    color: #e40734;
    padding: 6px 20px;
    border-radius: 50px;
}

.available-outlest a {
    color: #fff;
    font-size: 18px;
}

.about-us-slider .owl-nav .owl-prev {
    background-image: url('../../img/back-arrow.png') !important;
    left: -70px;
    height: calc(100% - 51px);
}

.about-us-slider .owl-nav .owl-next {
    background-image: url('../../img/right-thin-chevron.png') !important;
    right: -70px;
    height: calc(100% - 51px);
}

.btn-blue {
    background: #102ebd;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn-blue:hover {
    color: #fff;
}

.meet-the-team h2 {
    color: #000;
    margin-bottom: 30px !important;
}

.meet-the-team {
    font-weight: 600;
    font-size: 15px;
    color: #000;
}

.sneaker-img {
    width: 600px;
}

.list-disc {
    list-style: disc;
}

.browse-catalog {
    margin-top: 90px;
    margin-bottom: 34px;
}

.video-icon img {
    width: 45px !important;
    position: absolute;
    bottom: 13px;
    right: 11px;
    border-radius: 0 !important;
}

#sclive .owl-stage-outer{
    padding-top: 15px;
}

.name-artist{
    color: #fff;
}

.price{
    color: #fff;
}



.concept-page .form-control {
    color: #000;
    border: 2px solid;
    height: 47px;
    border-color: #a2abb4;
}


.concept-page{
    padding: 100px 0;
}

.top-heading-step{
    font-size: 17px;
}
.concept-wraper label {
    font-weight: 600;
}
.concept-wraper{
    background:#fff;
}

.top-strip {
    font-size: 14px;
}

.all-text-required {
    text-align: right;
    margin-bottom: 5px;
    font-size: 14px;
}

.select-text {
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
}

.active-border {
    border-bottom: 4px solid #51ade4;
    font-weight: 600;
    color: #282b49;
}

.btn-continue {
    background: #569489;
    color: #fff;
    border-radius: 25px;
    padding: 11px 32px;
}

.btn-continue:hover {
    background: #569489;
    color: #fff;
  
}







@media screen and (max-width: 767px) {
    .powered-by-section label {
        margin-bottom: 0;
        font-size: 13px;
    }

    .type-box{
        font-size: 16px !important;
    }

    .concept-page {
        padding: 0 !important;
    }

    .select-text{
        font-size: 17px  !important;
    }

    .proof-concept{
        font-size: 20px !important;
        margin-top: 10px;
    }
    .powered-by{
        font-size: 20px !important;
    }

    .top-heading-step {
        font-size: 14px !important;
    }


    .circle-box .yellow-box {
        border-radius: 50%;
        height: 75px;
        width: 77px;
        margin: 0 auto;
        color: #000;
        line-height: 31px;
    }
    .yellow-box {
        background-color: #f6e86c;
    }
}

.yellow-box .text-small {
    text-transform: capitalize !important;
    font-size: 13px;
}

.crowd-box{
    width: 65px;
    height: 65px;
    color: #fff;
    margin: 0 auto;
    border: 3px solid #0d0d0c;
    border-radius: 50%;
    background: #329700;
    font-size: 15px;
    line-height: 10px;
    position: absolute;
    top: 25px;
    
}  


.crowd-box.desktop-crowd{
    width: 71px;
    height: 71px;
    color: #fff;
    margin: 0 auto;
    border: 3px solid #0d0d0c;
    border-radius: 50%;
    background: #329700;
    font-size: 13px !important;
    line-height: 17px;
    position: absolute;
    right: 88px;
    top: 15%;
    text-align: center;
}

.crowd-box a {
    width: auto;
    color: #fff;
    text-decoration: none;
    display: inline;
    font-weight: normal;
    font-size: 15px;
}

.image-width{
    width: 200px;
}

.btn-partner{
    background-color: #51ade4;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 2px;
    padding: 4px 23px;
    font-size: 19px;
}

.btn-partner:hover{
    color: #fff;
}
.proof-concept{
    font-family: 'lulocleanw01-oneboldregular';
    color: #51ade4;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
}

.powered-by{
    color: #51ade4;
    font-family: 'nationale', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 13px;
}

.proof-of-concept .modal-header{
    border-bottom: none;
}

.proof-of-concept .close{
    background: #51ade4;
    opacity: 1;
    color: #fff;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    line-height: 12px;
    margin-top: -45px;
}

.proof-of-concept p {
    color: #000;
    font-weight: 600;
}

.proof-of-concept .modal-content{
    border-radius: 0;
}

.proof-of-concept label {
    color: #000;
    font-weight: 600;
}

.type-box input{
    position:absolute;
    z-index: -1;
    opacity: 0;
}

.type-box{
    background-color: #e7e8ec;
    padding: 12px 9px;
    font-weight: bold;
    color: #000;
    font-size: 19px;
    border-radius: 4px;
}

.type-box.active{ 
    background-color: #51ade4;
    color: #fff;

}

.inner-share-wrpaer {
    background-color:#c6dff3;
    padding: 20px;
}

.btn-facebook{
    background-color: #3b5999;
    color: #fff;
    position: relative;
    padding: 20px 31px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.btn-twitter{
    background-color: #1ea1f3;
    color: #fff;
    position: relative;
    padding: 20px 31px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.btn-email{
    background-color: #9acb58;
    color: #fff;
    position: relative;
    padding: 20px 31px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.btn-facebook:hover,
.btn-twitter:hover,
.btn-email:hover{
    color: #fff;
}

.fb-white{
    position: absolute;
    left: 93px;
    width: 33px;
    top: 25px;
}

.fb-btn-text{
    margin-left: 110px;
}

.top-text-share{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin-bottom: 13px;
}

.keep {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}

.invite-friend-text{
    font-size: 22px;
    text-align: center;
    color: #1a2042;
    padding: 10px 0;
    font-weight: 600;
}

.border-custom-line{
    border-bottom: 2px solid #b3d4ee;
    width: 96px;
    margin: 0 auto;
}

.skip a {
    text-transform: uppercase;
    color: #2460f4;
    font-weight: 600;
}

.powered-by-section label {
    margin-bottom: 0;
}

.loader {
    border: 5px solid #e40734;
    border-radius: 50%;
    border-top: 5px solid #1b232e;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    margin: 0 auto;
    z-index: 9999;
    top: 35%;
    left: 0;
    right: 0;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  