<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\UserRecord[]|\Cake\Collection\CollectionInterface $userRecords
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New User Record'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List User Record Keys'), ['controller' => 'UserRecordKeys', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User Record Key'), ['controller' => 'UserRecordKeys', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="userRecords index large-9 medium-8 columns content">
    <h3><?= __('User Records') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('user_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('record_name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('record_written_by') ?></th>
                <th scope="col"><?= $this->Paginator->sort('is_already_distributed') ?></th>
                <th scope="col"><?= $this->Paginator->sort('cover_image') ?></th>
                <th scope="col"><?= $this->Paginator->sort('artist_name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('producer') ?></th>
                <th scope="col"><?= $this->Paginator->sort('writer') ?></th>
                <th scope="col"><?= $this->Paginator->sort('record_file') ?></th>
                <th scope="col"><?= $this->Paginator->sort('video_pitch_file') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col"><?= $this->Paginator->sort('modified') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($userRecords as $userRecord): ?>
            <tr>
                <td><?= $this->Number->format($userRecord->id) ?></td>
                <td><?= $userRecord->has('user') ? $this->Html->link($userRecord->user->id, ['controller' => 'Users', 'action' => 'view', $userRecord->user->id]) : '' ?></td>
                <td><?= h($userRecord->record_name) ?></td>
                <td><?= h($userRecord->record_written_by) ?></td>
                <td><?= h($userRecord->is_already_distributed) ?></td>
                <td><?= h($userRecord->cover_image) ?></td>
                <td><?= h($userRecord->artist_name) ?></td>
                <td><?= h($userRecord->producer) ?></td>
                <td><?= h($userRecord->writer) ?></td>
                <td><?= h($userRecord->record_file) ?></td>
                <td><?= h($userRecord->video_pitch_file) ?></td>
                <td><?= h($userRecord->created) ?></td>
                <td><?= h($userRecord->modified) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $userRecord->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $userRecord->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $userRecord->id], ['confirm' => __('Are you sure you want to delete # {0}?', $userRecord->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
