<tr>
    <td align="center">
        <table cellpadding="0" cellspacing="0" align="center" bgcolor="#f2f2f2" border="0" width="600">
            <tbody>
                <tr>
                    <td align="left">
                        <table cellpadding="0" cellspacing="0" align="center" border="0">
                            <tbody>
                                <tr>
                                    <td style="padding: 10px 30px;">
                                        <a href="#" style="text-decoration:none" target="_blank" data-saferedirecturl="soundchecklive.co">
                                            <?= $this->Html->image('logo.png',['alt' => 'soundchecklive','fullBase' => true])?>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>