<div class="container mt-sm-2 mt-0 mb-0 p-0">
    <div class="question-answer-wraper text-center red-box">
        <h2 class="mb-2">WHAT IS SOUND CHECK LIVE?</h2>
        <div class="border-top-custom"></div>
        <p class="mt-3">I’m a paragraph. Double click here or click Edit Text to add some text of your own <br>
         or to change the font. This is the place for you to tell your site visitors a little bit<br> about you and your services.</p>
</div>

 <div class="question-answer-wraper text-center black-box">
        <h2 class="mb-2">WHERE WILL MY MUSIC BE AVAILABLE?</h2>
        <div class="border-top-custom"></div>
        <p class="mt-3">I’m a paragraph. Double click here or click Edit Text to add some text of your own <br>
         or to change the font. This is the place for you to tell your site visitors a little bit<br> about you and your services.</p>
</div>

 <div class="question-answer-wraper text-center red-box">
        <h2 class="mb-2">HOW MUCH DOES IT COST TO SIGN UP?</h2>
        <div class="border-top-custom"></div>
        <p class="mt-3">I’m a paragraph. Double click here or click Edit Text to add some text of your own <br>
         or to change the font. This is the place for you to tell your site visitors a little bit<br> about you and your services.</p>
</div>

<div class="question-answer-wraper text-center black-box">
        <h2 class="mb-2">WHERE WILL MY MUSIC BE AVAILABLE?</h2>
        <div class="border-top-custom"></div>
        <p class="mt-3">I’m a paragraph. Double click here or click Edit Text to add some text of your own <br>
         or to change the font. This is the place for you to tell your site visitors a little bit<br> about you and your services.</p>
</div>

 <div class="question-answer-wraper text-center red-box">
        <h2 class="mb-2">HOW MUCH DOES IT COST TO SIGN UP?</h2>
        <div class="border-top-custom"></div>
        <p class="mt-3">I’m a paragraph. Double click here or click Edit Text to add some text of your own <br>
         or to change the font. This is the place for you to tell your site visitors a little bit<br> about you and your services.</p>
</div>

<div class="question-answer-wraper text-center black-box">
        <h2 class="mb-2">WHERE WILL MY MUSIC BE AVAILABLE?</h2>
        <div class="border-top-custom"></div>
        <p class="mt-3">I’m a paragraph. Double click here or click Edit Text to add some text of your own <br>
         or to change the font. This is the place for you to tell your site visitors a little bit<br> about you and your services.</p>
</div>

 <div class="question-answer-wraper text-center red-box">
        <h2 class="mb-2">HOW MUCH DOES IT COST TO SIGN UP?</h2>
        <div class="border-top-custom"></div>
        <p class="mt-3">I’m a paragraph. Double click here or click Edit Text to add some text of your own <br>
         or to change the font. This is the place for you to tell your site visitors a little bit<br> about you and your services.</p>
</div>
<div class="question-answer-wraper text-center black-box">
        <h2 class="mb-2">WHERE WILL MY MUSIC BE AVAILABLE?</h2>
        <div class="border-top-custom"></div>
        <p class="mt-3">I’m a paragraph. Double click here or click Edit Text to add some text of your own <br>
         or to change the font. This is the place for you to tell your site visitors a little bit<br> about you and your services.</p>
</div>

</div>