<div class="col-lg-9">
    <div class="content h-100">
        <div class="bg-white p-4">
            <div class="row">
                <div class="col-12">
                    <h2 class="tab-title mb-3">Upcoming Shows</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="upcoming-show">
                        <div class="upcoming-cover">
                            <img src="images/upcoming-show-cover.jpg" alt="upcoming show">
                        </div>
                        <ul>
                            <li>
                                <svg version="1.1" x="0px" y="0px" fill="#2a2a2b" width="18px" height="18px"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257
c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22
C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34
C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180
C406.1,207.121,398.689,233.688,384.866,256.818z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z
 M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2
C316.1,212.683,289.784,240.2,256,240.2z" />
                                        </g>
                                    </g>
                                </svg>
                                California USA
                            </li>
                            <li>

                                <svg version="1.1" x="0px" y="0px" width="18px" height="18px" fill="#2a2a2b" viewBox="0 0 485.213 485.212"
                                    style="enable-background:new 0 0 485.213 485.212;" xml:space="preserve">
                                    <g>
                                        <path d="M60.652,75.816V15.163C60.652,6.781,67.433,0,75.817,0c8.38,0,15.161,6.781,15.161,15.163v60.653
c0,8.38-6.781,15.161-15.161,15.161C67.433,90.978,60.652,84.196,60.652,75.816z M318.424,90.978
c8.378,0,15.163-6.781,15.163-15.161V15.163C333.587,6.781,326.802,0,318.424,0c-8.382,0-15.168,6.781-15.168,15.163v60.653
C303.256,84.196,310.042,90.978,318.424,90.978z M485.212,363.906c0,66.996-54.312,121.307-121.303,121.307
c-66.986,0-121.302-54.311-121.302-121.307c0-66.986,54.315-121.3,121.302-121.3C430.9,242.606,485.212,296.919,485.212,363.906z
M454.89,363.906c0-50.161-40.81-90.976-90.98-90.976c-50.166,0-90.976,40.814-90.976,90.976c0,50.171,40.81,90.98,90.976,90.98
C414.08,454.886,454.89,414.077,454.89,363.906z M121.305,181.955H60.652v60.651h60.653V181.955z M60.652,333.584h60.653V272.93
H60.652V333.584z M151.629,242.606h60.654v-60.651h-60.654V242.606z M151.629,333.584h60.654V272.93h-60.654V333.584z
M30.328,360.891V151.628h333.582v60.653h30.327V94c0-18.421-14.692-33.349-32.843-33.349h-12.647v15.166
c0,16.701-13.596,30.325-30.322,30.325c-16.731,0-30.326-13.624-30.326-30.325V60.651H106.14v15.166
c0,16.701-13.593,30.325-30.322,30.325c-16.733,0-30.327-13.624-30.327-30.325V60.651H32.859C14.707,60.651,0.001,75.579,0.001,94
v266.892c0,18.36,14.706,33.346,32.858,33.346h179.424v-30.331H32.859C31.485,363.906,30.328,362.487,30.328,360.891z
M303.256,242.606v-60.651h-60.648v60.651H303.256z M409.399,363.906h-45.49v-45.49c0-8.377-6.781-15.158-15.163-15.158
s-15.159,6.781-15.159,15.158v60.658c0,8.378,6.777,15.163,15.159,15.163h60.653c8.382,0,15.163-6.785,15.163-15.163
C424.562,370.692,417.781,363.906,409.399,363.906z" />
                                    </g>
                                </svg>
                                5.00, Sunday
                            </li>
                            <li>
                                <svg version="1.1" x="0px" y="0px" width="18px" height="18px" fill="#2a2a2b" viewBox="0 0 512 512"
                                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M467,60h-15V45c0-24.813-20.187-45-45-45s-45,20.187-45,45v15h-60V45c0-24.813-20.187-45-45-45s-45,20.187-45,45v15h-62
V45c0-24.813-20.187-45-45-45S60,20.187,60,45v15H45C20.187,60,0,80.187,0,105c0,2.176,0,356.248,0,362c0,24.813,20.187,45,45,45
h422c24.813,0,45-20.187,45-45c0-2.763,0-357.126,0-362C512,80.187,491.813,60,467,60z M392,45c0-8.271,6.729-15,15-15
s15,6.729,15,15v60c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M242,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60
c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M90,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60c0,8.271-6.729,15-15,15
s-15-6.729-15-15V45z M482,467c0,8.271-6.729,15-15,15H45c-8.271,0-15-6.729-15-15V212h452V467z M482,182H30v-77
c0-8.271,6.729-15,15-15h15v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h62v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90
h60v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h15c8.271,0,15,6.729,15,15V182z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M437,242H75c-8.284,0-15,6.716-15,15v180c0,8.284,6.716,15,15,15h362c8.284,0,15-6.716,15-15V257
C452,248.716,445.284,242,437,242z M150,422H90v-60h60V422z M150,332H90v-60h60V332z M242,422h-62v-60h62V422z M242,332h-62v-60
h62V332z M332,422h-60v-60h60V422z M332,332h-60v-60h60V332z M422,422h-60v-60h60V422z M422,332h-60v-60h60V332z" />
                                        </g>
                                    </g>
                                </svg>
                                12-08-2019
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="upcoming-show">
                        <div class="upcoming-cover">
                            <img src="images/upcoming-show-cover.jpg" alt="upcoming show">
                        </div>
                        <ul>
                            <li>
                                <svg version="1.1" x="0px" y="0px" fill="#2a2a2b" width="18px" height="18px"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257
c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22
C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34
C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180
C406.1,207.121,398.689,233.688,384.866,256.818z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z
 M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2
C316.1,212.683,289.784,240.2,256,240.2z" />
                                        </g>
                                    </g>
                                </svg>
                                California USA
                            </li>
                            <li>

                                <svg version="1.1" x="0px" y="0px" width="18px" height="18px" fill="#2a2a2b" viewBox="0 0 485.213 485.212"
                                    style="enable-background:new 0 0 485.213 485.212;" xml:space="preserve">
                                    <g>
                                        <path d="M60.652,75.816V15.163C60.652,6.781,67.433,0,75.817,0c8.38,0,15.161,6.781,15.161,15.163v60.653
c0,8.38-6.781,15.161-15.161,15.161C67.433,90.978,60.652,84.196,60.652,75.816z M318.424,90.978
c8.378,0,15.163-6.781,15.163-15.161V15.163C333.587,6.781,326.802,0,318.424,0c-8.382,0-15.168,6.781-15.168,15.163v60.653
C303.256,84.196,310.042,90.978,318.424,90.978z M485.212,363.906c0,66.996-54.312,121.307-121.303,121.307
c-66.986,0-121.302-54.311-121.302-121.307c0-66.986,54.315-121.3,121.302-121.3C430.9,242.606,485.212,296.919,485.212,363.906z
M454.89,363.906c0-50.161-40.81-90.976-90.98-90.976c-50.166,0-90.976,40.814-90.976,90.976c0,50.171,40.81,90.98,90.976,90.98
C414.08,454.886,454.89,414.077,454.89,363.906z M121.305,181.955H60.652v60.651h60.653V181.955z M60.652,333.584h60.653V272.93
H60.652V333.584z M151.629,242.606h60.654v-60.651h-60.654V242.606z M151.629,333.584h60.654V272.93h-60.654V333.584z
M30.328,360.891V151.628h333.582v60.653h30.327V94c0-18.421-14.692-33.349-32.843-33.349h-12.647v15.166
c0,16.701-13.596,30.325-30.322,30.325c-16.731,0-30.326-13.624-30.326-30.325V60.651H106.14v15.166
c0,16.701-13.593,30.325-30.322,30.325c-16.733,0-30.327-13.624-30.327-30.325V60.651H32.859C14.707,60.651,0.001,75.579,0.001,94
v266.892c0,18.36,14.706,33.346,32.858,33.346h179.424v-30.331H32.859C31.485,363.906,30.328,362.487,30.328,360.891z
M303.256,242.606v-60.651h-60.648v60.651H303.256z M409.399,363.906h-45.49v-45.49c0-8.377-6.781-15.158-15.163-15.158
s-15.159,6.781-15.159,15.158v60.658c0,8.378,6.777,15.163,15.159,15.163h60.653c8.382,0,15.163-6.785,15.163-15.163
C424.562,370.692,417.781,363.906,409.399,363.906z" />
                                    </g>
                                </svg>
                                5.00, Sunday
                            </li>
                            <li>
                                <svg version="1.1" x="0px" y="0px" width="18px" height="18px" fill="#2a2a2b" viewBox="0 0 512 512"
                                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M467,60h-15V45c0-24.813-20.187-45-45-45s-45,20.187-45,45v15h-60V45c0-24.813-20.187-45-45-45s-45,20.187-45,45v15h-62
V45c0-24.813-20.187-45-45-45S60,20.187,60,45v15H45C20.187,60,0,80.187,0,105c0,2.176,0,356.248,0,362c0,24.813,20.187,45,45,45
h422c24.813,0,45-20.187,45-45c0-2.763,0-357.126,0-362C512,80.187,491.813,60,467,60z M392,45c0-8.271,6.729-15,15-15
s15,6.729,15,15v60c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M242,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60
c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M90,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60c0,8.271-6.729,15-15,15
s-15-6.729-15-15V45z M482,467c0,8.271-6.729,15-15,15H45c-8.271,0-15-6.729-15-15V212h452V467z M482,182H30v-77
c0-8.271,6.729-15,15-15h15v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h62v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90
h60v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h15c8.271,0,15,6.729,15,15V182z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M437,242H75c-8.284,0-15,6.716-15,15v180c0,8.284,6.716,15,15,15h362c8.284,0,15-6.716,15-15V257
C452,248.716,445.284,242,437,242z M150,422H90v-60h60V422z M150,332H90v-60h60V332z M242,422h-62v-60h62V422z M242,332h-62v-60
h62V332z M332,422h-60v-60h60V422z M332,332h-60v-60h60V332z M422,422h-60v-60h60V422z M422,332h-60v-60h60V332z" />
                                        </g>
                                    </g>
                                </svg>
                                12-08-2019
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="upcoming-show">
                        <div class="upcoming-cover">
                            <img src="images/upcoming-show-cover.jpg" alt="upcoming show">
                        </div>
                        <ul>
                            <li>
                                <svg version="1.1" x="0px" y="0px" fill="#2a2a2b" width="18px" height="18px"
                                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257
c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22
C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34
C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180
C406.1,207.121,398.689,233.688,384.866,256.818z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z
 M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2
C316.1,212.683,289.784,240.2,256,240.2z" />
                                        </g>
                                    </g>
                                </svg>
                                California USA
                            </li>
                            <li>

                                <svg version="1.1" x="0px" y="0px" width="18px" height="18px" fill="#2a2a2b" viewBox="0 0 485.213 485.212"
                                    style="enable-background:new 0 0 485.213 485.212;" xml:space="preserve">
                                    <g>
                                        <path d="M60.652,75.816V15.163C60.652,6.781,67.433,0,75.817,0c8.38,0,15.161,6.781,15.161,15.163v60.653
c0,8.38-6.781,15.161-15.161,15.161C67.433,90.978,60.652,84.196,60.652,75.816z M318.424,90.978
c8.378,0,15.163-6.781,15.163-15.161V15.163C333.587,6.781,326.802,0,318.424,0c-8.382,0-15.168,6.781-15.168,15.163v60.653
C303.256,84.196,310.042,90.978,318.424,90.978z M485.212,363.906c0,66.996-54.312,121.307-121.303,121.307
c-66.986,0-121.302-54.311-121.302-121.307c0-66.986,54.315-121.3,121.302-121.3C430.9,242.606,485.212,296.919,485.212,363.906z
M454.89,363.906c0-50.161-40.81-90.976-90.98-90.976c-50.166,0-90.976,40.814-90.976,90.976c0,50.171,40.81,90.98,90.976,90.98
C414.08,454.886,454.89,414.077,454.89,363.906z M121.305,181.955H60.652v60.651h60.653V181.955z M60.652,333.584h60.653V272.93
H60.652V333.584z M151.629,242.606h60.654v-60.651h-60.654V242.606z M151.629,333.584h60.654V272.93h-60.654V333.584z
M30.328,360.891V151.628h333.582v60.653h30.327V94c0-18.421-14.692-33.349-32.843-33.349h-12.647v15.166
c0,16.701-13.596,30.325-30.322,30.325c-16.731,0-30.326-13.624-30.326-30.325V60.651H106.14v15.166
c0,16.701-13.593,30.325-30.322,30.325c-16.733,0-30.327-13.624-30.327-30.325V60.651H32.859C14.707,60.651,0.001,75.579,0.001,94
v266.892c0,18.36,14.706,33.346,32.858,33.346h179.424v-30.331H32.859C31.485,363.906,30.328,362.487,30.328,360.891z
M303.256,242.606v-60.651h-60.648v60.651H303.256z M409.399,363.906h-45.49v-45.49c0-8.377-6.781-15.158-15.163-15.158
s-15.159,6.781-15.159,15.158v60.658c0,8.378,6.777,15.163,15.159,15.163h60.653c8.382,0,15.163-6.785,15.163-15.163
C424.562,370.692,417.781,363.906,409.399,363.906z" />
                                    </g>
                                </svg>
                                5.00, Sunday
                            </li>
                            <li>
                                <svg version="1.1" x="0px" y="0px" width="18px" height="18px" fill="#2a2a2b" viewBox="0 0 512 512"
                                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M467,60h-15V45c0-24.813-20.187-45-45-45s-45,20.187-45,45v15h-60V45c0-24.813-20.187-45-45-45s-45,20.187-45,45v15h-62
V45c0-24.813-20.187-45-45-45S60,20.187,60,45v15H45C20.187,60,0,80.187,0,105c0,2.176,0,356.248,0,362c0,24.813,20.187,45,45,45
h422c24.813,0,45-20.187,45-45c0-2.763,0-357.126,0-362C512,80.187,491.813,60,467,60z M392,45c0-8.271,6.729-15,15-15
s15,6.729,15,15v60c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M242,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60
c0,8.271-6.729,15-15,15s-15-6.729-15-15V45z M90,45c0-8.271,6.729-15,15-15s15,6.729,15,15v60c0,8.271-6.729,15-15,15
s-15-6.729-15-15V45z M482,467c0,8.271-6.729,15-15,15H45c-8.271,0-15-6.729-15-15V212h452V467z M482,182H30v-77
c0-8.271,6.729-15,15-15h15v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h62v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90
h60v15c0,24.813,20.187,45,45,45s45-20.187,45-45V90h15c8.271,0,15,6.729,15,15V182z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M437,242H75c-8.284,0-15,6.716-15,15v180c0,8.284,6.716,15,15,15h362c8.284,0,15-6.716,15-15V257
C452,248.716,445.284,242,437,242z M150,422H90v-60h60V422z M150,332H90v-60h60V332z M242,422h-62v-60h62V422z M242,332h-62v-60
h62V332z M332,422h-60v-60h60V422z M332,332h-60v-60h60V332z M422,422h-60v-60h60V422z M422,332h-60v-60h60V332z" />
                                        </g>
                                    </g>
                                </svg>
                                12-08-2019
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="tab-title border-bottom pb-2 mt-4 mb-4">Do you have any upcoming show?
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form action="#">
                        <div class="form-group mb-1">
                            <label>Upload file</label>
                            <div class="upload-file border">
                                <img src="images/dummy-img.jpg" alt="product">
                            </div>
                            <div class="upload-btn-wrapper mb-3">
                                <button class="btn">Upload</button>
                                <input type="file" name="myfile">
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label>City of show</label>
                            <input type="text" name="city-name" class="form-control">
                        </div>
                        <div class="form-group mb-1">
                            <label>Date</label>
                            <input type="text" name="date" class="form-control">
                        </div>
                        <div class="form-group mb-1">
                            <label>Time</label>
                            <input type="text" name="time" class="form-control">
                        </div>
                        <div class="form-group mb-1">
                            <label>Link for ticket</label>
                            <input type="text" name="link-ticket" class="form-control">
                        </div>
                        <div class="form-group text-right mt-3">
                            <button class="btn bg-red text-white px-4 py-1" type="submit">Book Show</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>