<div class="text-center mt-6">
	<label>Disable OverLay</label>
	<div>
    	<input type="checkbox"  class="dw" data-toggle="toggle" data-onstyle="success" data-url="/disable-layout"<?php echo ($siteDown->disable_layout == 1) ? "checked" : ""?>>	
	</div>
</div>

<?php
    echo $this->Html->script([
    'vendor/jquery.min',
      'backend/Admin/disable_layout',
    ]);
   // echo $this->fetch('script');
?>
