html {
    position: relative;
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ececec;
    color: #333;
    height: 100%;
    font-size: 16px;
    padding-top: 79px;
   /* overflow: hidden;
    */
}
@media (max-width: 767px) {
    body {
        padding-top: 60px;
        margin-bottom: 50px;
   }
}
/*fonts*/
@font-face {
    font-family: 'lulocleanw01-oneboldregular';
    src: url('../Fonts/lulo_clean_w01_one_bold.woff2') format('woff2'), url('../fonts/lulo_clean_w01_one_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lulocleanw01-oneregular';
    src: url('../Fonts/lulo_clean_w01_one.woff2') format('woff2'), url('../fonts/lulo_clean_w01_one.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pacifica_condensedregular';
    src: url('../Fonts/pacificacondensedregular.woff2') format('woff2'), url('../fonts/pacificacondensedregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.pc-bold {
    font-family: 'lulocleanw01-oneboldregular';
    font-weight: bold;
}
/*header*/
.top-login a {
    font-family: 'lulocleanw01-oneregular';
    font-size: 14px;
    color: #fff;
}
.register {
    display: inline-block;
    height: 42px;
    line-height: 42px;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-text {
    position: absolute;
    top: 0;
    color: #FFF;
    bottom: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    left: 0;
    right: 0;
    width: 80%;
    padding-left: 120px;
}
.slider-caption {
    position: relative;
    z-index: 99;
}
.slider-caption a {
    height: 60px;
    display: inline-block;
    width: 160px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.slider-caption a::last-child {
    color: #333;
}
.slider-caption p {
    font-size: 36px;
}
.main-text h1 {
    font-family: 'pacifica_condensedregular';
    font-size: 70px;
}
.carousel-indicators {
    right: auto;
    top: 0;
    margin: 0;
    list-style: none;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(90deg);
    align-items: center;
}
.home-slider .carousel-indicators li {
    width: 16px;
    height: 16PX;
    border-radius: 100%;
    border-top: 0;
    border-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.home-slider .carousel-indicators .active {
    opacity: 1;
    width: 14px;
    height: 14px;
    background: #e40734;
    border: 2px solid white;
}
.footer {
    color: #fff;
    width: 100%;
    text-align: center;
}
.footer h2 {
    font-family: 'lulocleanw01-oneboldregular';
    font-size: 24px;
    line-height: 40px;
}
.copy-right {
    font-size: 14px;
    font-weight: 200;
    padding: 10px 0;
}
/*footer link*/
.footer-link {
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #f2f2f2;
}
.footer-link ul {
    margin: 0;
    padding: 0;
}
.footer-link ul li {
    list-style: none;
    text-align: center;
    height: 100%;
    text-transform: capitalize;
    vertical-align: middle;
    border-right: 1px solid #dddddd;
    padding: 5px 8px 0 8px;
    width: 100%;
}
.footer-link ul li::last-child {
    border-right: 0;
}
.footer-link span {
    font-weight: 300;
    font-size: 13px;
}
.page-title {
    border-top: 1px solid #8c939c;
}
.page-title h2, .register-form h2 {
    font-family: 'lulocleanw01-oneboldregular';
    font-size: 25px;
}
.form-sub-title p {
    font-size: 18px;
    font-weight: 300;
}
.form-width {
    width: 400px;
    margin: 0 auto;
}
.register-form h2 {
    font-size: 30px;
}
.custom-input {
    background-color: #ececec;
    border-radius: 8px;
    height: 49px;
    box-shadow: 0 1px 2px 0px #d0d0d0;
}
.custom-progress .bg-success {
    background-color: #e40734 !important;
}
.progress {
    background-color: #fff !important;
    border: 2px solid #e40734;
    border-radius: 50px;
}
.question-number, .question-text {
    font-size: 22px;
}
.black-btn {
    background: #1b232e;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 9px 24px;
}
.back-btn {
    background: #dadada;
    color: #333;
    border: none;
    padding: 9px 24px;
}
.custom-progress {
    margin-top: 40px;
}
.custom-margin {
    margin-top: 150px;
    margin-bottom: 100px;
}
.custom-label {
    font-weight: 500;
}
.play-img {
    position: absolute;
    margin-right: 40px;
    left: 60px;
}
.black-header-setting {
    position: relative;
}
.black-header-setting h2 {
    margin-left: 80px;
}
.form-control::-webkit-input-placeholder {
   /* Edge */
    color: #a3a3a3;
}
.form-control:-ms-input-placeholder {
   /* Internet Explorer 10-11 */
    color: #a3a3a3;
}
/* Custom radio btn */
.custom-radio-btn {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 30px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50% 
}
.custom-radio-btn:hover input ~ .checkmark {
    background-color: #ccc;
}
.custom-radio-btn input:checked ~ .checkmark {
    background-color: #565656;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-radio-btn input:checked ~ .checkmark:after {
    display: block;
}
.custom-radio-btn .checkmark:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/** custom checkbox **/
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
body .custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 0 !important;
}
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}
.custom-checkbox input:checked ~ .checkmark {
    background-color: #1b232e;
}
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}
.custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.relative-position{
    position: relative;
}
.relative-position img {
    position: absolute;
    top: 45px;
    left: 10px;
}
.relative-position .form-control {
    padding-left: 45px;
}
/** custom file upload **/
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
}
.upload-btn-wrapper .btn {
    border: 2px solid #1b232e;
    color: #fff;
    background-color: #1b232e;
    padding: 7px 28px;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 20px;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.capital-goal{
    width: 274px;
    margin-top: 16px !important;
}
.relative-position .upload-btn-wrapper{
    position: absolute;
    right: 0;
    top: -18px 
}
.relative-position .upload-btn-wrapper .btn {
    padding: 12px 28px;
    border-radius: 0;
    margin-top: 18px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.black-btn:hover {
    color: #fff;
}
.add-more .btn, .remove-btn .btn, .add-shows .btn{
    padding: 3px 8px;
    font-size: 12px;
}
.remove-btn .btn {
    background: #e40734;
}
.upcoming-show-img img{
    border-radius: 5px;
    width: 100px;
    height: 100px;
}
.relative{
    position: relative;
}
.relative img {
    position: absolute;
    right: 17px;
    top: 15px;
}
.plan-title{
    font-family: 'lulocleanw01-oneboldregular';
    font-size: 12px;
    font-weight: bold;
}
.plan-box-content {
    font-size: 13px;
    line-height: 35px;
    color: #868383;
}
.plan-box{
    padding: 12px;
}
.plan-box.active, .plan-box.active .plan-box-content, .plan-box.active .sound, .plan-box.active .sound-check, .plan-box.active .sound-check-live{
    background: #e40734;
    color: #fff;
    border-radius: 4px;
}
.sound-check-live{
    color: #e40734;
}
.sound-check{
    color: #c1a03c 
}
.sound{
    color:blue;
}
.thanku-text{
    font-family: 'lulocleanw01-oneboldregular';
    font-size: 22px;
}
.thanku-para-txt{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.thin-text{
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
}
.catalog-here{
    color: #e40734;
}
.thanku-page{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.left-panel{
    width: 250px;
    background: #111720;
    color: #fff;
    height: 100vh;
    float: left;
    position: fixed 
}
.right-panel {
    width: calc(100% - 250px);
    margin-left: 250px;
    background: #1b232e;
    height: 100%;
   /* float: left;
    */
}
.clearfix::after{
   display:block;
   clear:both;
   content:""
}
.left-panel ul li {
    line-height: 34px;
    margin-bottom: 20px;
    padding-left: 16px;
}
.left-panel {
    padding-top: 80px;
}
.left-panel .active {
    border-left: 4px solid #ce0000;
}
.left-panel li a:hover{
    color: #fff;
    text-decoration: none;
}
.left-panel img{
    vertical-align: sub;
}
.song-name{
    color: #fff;
    font-size: 14px;
    margin-top: 4px;
}
.artist-name, .record-name {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 2px;
}
.artist-name span, .record-name span{
    font-weight: 500;
    margin-right: 5px;
}
.right-panel h4 {
    color:#fff;
    padding: 20px 0;
}
.owl-nav .owl-prev, .carousel-control-prev-icon {
    right: 0;
    position: absolute;
    height: 56px;
    width: 100px;
    top: 0;
    bottom: 0;
    height: calc(100% - 90px);
    cursor: pointer !important;
    background-image: url("../images/right-arrow.png"), -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.27) 27%, rgba(0,0,0,1) 100%);
    background-image: url("../images/right-arrow.png"), -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.27) 27%, rgba(0,0,0,1) 100%);
    background-image: url("../images/right-arrow.png"), -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.27) 27%, rgba(0,0,0,1) 100%);
    background-image: url("../images/right-arrow.png"), -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.27) 27%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
}
.owl-nav .owl-next, .carousel-control-next-icon {
    background-image: url('../images/left-arrow.png'), -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0.27) 73%, rgba(0,0,0,0) 100%);
    background-image: url('../images/left-arrow.png'), -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(73%, rgba(0,0,0,0.27)), color-stop(100%, rgba(0,0,0,0)));
    background-image: url('../images/left-arrow.png'), -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0.27) 73%, rgba(0,0,0,0) 100%);
    background-image: url('../images/left-arrow.png'), -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0.27) 73%, rgba(0,0,0,0) 100%);
    background-image: url('../images/left-arrow.png'), -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0.27) 73%, rgba(0,0,0,0) 100%);
    background-image: url('../images/left-arrow.png'), linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.27) 73%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
    width: 100px;
    top: 0;
    position: absolute;
    bottom: 0;
    height: calc(100% - 90px);
    outline: none;
    cursor: pointer !important;
}
.owl-nav span {
    display: none;
}
.owl-theme .owl-nav .disabled {
    opacity: 0;
    cursor: default;
}
.gray-text{
    font-size: 13px;
    color: #fff;
    font-weight: 300;
}
.price{
    font-size: 13px;
    color: #fff;
    font-weight: 300;
}
.btn-border{
    background: #141a23;
    color: #fff;
    border: 1px solid #3e454e;
    font-size: 11px;
    padding: 4px 8px;
    font-weight: 300;
    border-radius: 4px;
}
.btn-border:hover {
    background-color: #3e444e;
}
.btn-border:hover{
    color: #fff;
}
.catalogue-footer ul li a {
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    line-height: 36px;
}
.catalogue-footer h4 {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.border-custom {
    border-top: 1px solid #283445;
    border-bottom: 1px solid #283445;
    margin-top: 60px;
    padding: 34px 0;
}
.copy-right {
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding: 15px !important;
}
.artist-detail label {
    font-weight: 500;
}
.btn-play{
    background-color: #ffffff;
    color: #333;
    border: 2px solid #e7063b;
}
.btn-play:hover{
    color:#333;
}
.btn-play img {
    width: 20px;
}
.catalogue-footer{
    background: #1b232e;
}
#sticky-footer {
    flex-shrink: none;
}
.no-of-partner{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    color: #969696;
}
.no-of-partner span{
    margin-right: 5px;
}
.custom-margin{
    margin-top: 130px;
    padding-left: 50px;
    padding-right: 50px;
}
.discount-offer{
    color: #d50032;
    font-size: 13px;
}
.price-text{
    font-weight: 500;
}
.btn-more {
    background: #2c3a4c;
    color: #fff;
    padding: 9px 38px;
    border-radius: 4px;
    font-weight: 300;
}
.btn-more:hover{
    color: #fff;
}
.marchandise-top-header .form-control{
    text-transform: uppercase;
    font-size: 13px;
}
.custom-model .modal-content{
    background: #111720;
}
.custom-model .modal-header {
    border-bottom: none;
    padding-bottom: 0;
}
.custom-border {
    background: url(../images/border-bootm.png) repeat-x;
}
.custom-model .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e40734;
    opacity: 10;
    text-shadow: none;
    color: #fff;
    font-weight: 400;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    padding: 0;
}
.partner-now{
    background: #ce0000;
    color: #fff;
    font-weight: 400;
}
.payment{
    border: 1px solid #3a444e;
    padding: 5px;
    margin-left: 10px;
    width: 50px;
    text-align: center;
    font-size: 22px;
    border-radius: 2px;
    margin-bottom: 16px;
}
.doller{
    font-size: 24px;
    margin-bottom: 15px;
}
.pay-now {
    color: #fff;
    background-color: #72a80d;
    width: 100px;
}
.custom-model input{
    background: #111820;
    border-color: #3a444e;
    border-radius: 0;
}
.tags a {
    background: #a7a7a7;
    color: #333;
    font-size: 13px;
    padding: 1px 8px;
    border-radius: 100em;
    margin-right: 2px;
}
.tags a:hover{
    background: #bdbdbd;
    text-decoration: none;
}
.modal-backdrop.show{
    opacity: .8;
}
@media screen and (max-width: 1024px) {
    .catalogue-footer{
        text-align: center;
   }
    .catalogue-footer h4{
        margin-top: 15px;
   }
}
@media screen and (max-width: 767px) {
    .body-margin-settings{
        margin-bottom: 0;
   }
    .marchandise-top-header .form-inline {
        width: 100%;
        display: block 
   }
    .right-panel h4{
        font-size: 20px;
   }
    .catalogue-page{
        margin-bottom: 0 !important;
   }
    .catalogue-footer{
        text-align: center;
   }
    .owl-nav .owl-prev, .carousel-control-prev-icon {
        background-image: url("../images/right-arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 70%;
        width: 30px;
   }
    .owl-nav .owl-next, .carousel-control-next-icon {
        background-image: url("../images/left-arrow.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 70%;
        width: 30px;
   }
    .left-panel{
        display: none;
   }
    .right-panel{
        margin-left: 0;
        width: 100%;
   }
    .register-header-mobile{
        display: none;
   }
    .custom-radio-btn{
        font-size: 15px;
   }
    .thanku-page{
        padding: 0 !important;
   }
    .home-page-content{
        font-family: 'lulocleanw01-oneboldregular';
        padding: 0 !important;
   }
    .outer-menu .menu > div{
        height: 100vh;
   }
    .question-section {
        margin-bottom: 20px !important;
   }
    .mobile-black-header-setting {
        padding: 12px !important;
   }
    .play-img {
        display: none 
   }
    .black-header-setting h2 {
        margin-left: 0;
        font-size: 14px !important;
        margin-bottom: 0;
        line-height: 24px;
   }
    .custom-progress {
        margin-top: 20px;
   }
    .question-number, .question-text {
        font-size: 13px;
   }
    .custom-margin {
        margin-top: 40px;
        margin-bottom: 40px;
   }
    .h-100 {
        height: auto !important;
   }
    .outer-menu .menu>div {
        border-radius: 0 !important;
   }
    .outer-menu .hamburger {
        top: 30px;
   }
    .mobile-text {
        background-color: #212a33;
   }
    .main-text {
        text-align: center;
        position: relative;
        top: 0;
        color: #FFF;
        bottom: 0;
        width: 100%;
        padding-left: 0;
   }
    .slider-caption {
        width: 100%;
   }
    .slider-caption h1 {
        color: #212a33;
   }
    .slider-caption a {
        display: block;
        margin: 0 auto;
        border-radius: 100em;
   }
    .slider-caption a.fan {
        background-color: #1d2cf3 !important;
        color: #fff !important;
   }
    .mobile-text h2 {
        color: #fff;
   }
    .home-footer {
        position: static;
        background-color: #141a1f !important;
        height: auto;
        line-height: 24px;
        padding: 5px 0;
   }
    .main-text h1 {
        font-size: 48px;
   }
    .outer-menu .menu>div>div>ul>li>a {
        font-size: 24px;
   }
    .slider-caption a {
        height: 48px;
        width: 130px;
        line-height: 48px;
   }
    .main-text p, .mobile-text h2 {
        font-size: 18px;
        line-height: 28px;
   }
    .main-text p {
        color: #212a33 !important;
   }
    .footer h2 {
        font-family: 'lulocleanw01-oneboldregular';
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 0;
   }
}
@media screen and (max-width: 480px) {
    .black-btn, .back-btn {
        font-size: 11px;
   }
    .top-login a {
        font-size: 12px;
   }
    .register {
        height: 36px;
        line-height: 36px;
   }
    .top-login a.register {
        padding: 0 8px !important;
   }
    .form-width {
        width: 100%;
   }
    .register-form h2 {
        font-size: 15px;
        line-height: 27px;
   }
    .page-title h2 {
        font-size: 24px;
   }
    .form-sub-title {
        background: transparent;
        margin-top: 0 !important;
   }
    .form-sub-title p {
        font-size: 16px !important;
   }
}
