<!-- mobile navigation -->
<?php 
    $controller = $this->request->getParam('controller');
    $action = $this->request->getParam('action');
    $baseUrl = $this->Url->build('/',true);
?>
    <nav class="menu-container d-none">
        <div class="nav-sidebar">
            <div class="user-profile text-center">
                <?php
                    $session = $this->request->getSession();
                    $userInfo  = $session->read('Auth.User');
                    $avtar = $this->Images->userProfilePic($userInfo['user_profile']);
                    if($avtar) {
                        echo $this->Html->image($avtar, ['alt' => 'cover images', 'class' => 'bg-white object-fit-cover']);

                    }else { ?>
                    <svg id="user-icon" viewBox="0 0 1024 1024" width="60px" height="60px">
                        <path
                            d="m730.06 679.64q-45.377 53.444-101.84 83.443t-120 29.999q-64.032 0-120.75-30.503t-102.6-84.451q-40.335 13.109-77.645 29.747t-53.948 26.722l-17.142 10.084q-29.747 19.159-51.175 57.729t-21.428 73.107 25.461 59.242 60.754 24.705h716.95q35.293 0 60.754-24.705t25.461-59.242-21.428-72.603-51.679-57.225q-6.554-4.033-18.907-10.84t-51.427-24.453-79.409-30.755zm-221.84 25.72q-34.285 0-67.561-14.873t-60.754-40.335-51.175-60.502-40.083-75.124-25.461-84.451-9.075-87.728q0-64.032 19.915-116.22t54.452-85.964 80.67-51.931 99.072-18.151 99.072 18.151 80.67 51.931 54.452 85.964 19.915 116.22q0 65.04-20.167 130.58t-53.948 116.72-81.426 83.443-98.568 32.268z">
                        </path>
                    </svg>
                <?php } ?>
            </div>
            <ul class="nav-tabs sidebar-nav">
                <li class="<?= ($controller == 'UserProfiles' && $action == 'videoPitch' ) ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'user-profiles'.DS.'video-pitch'?>">
                        <svg viewBox="0 -62 512.00199 512" width="22px" height="22px">
                            <path
                                d="m334.808594 170.992188-113.113282-61.890626c-6.503906-3.558593-14.191406-3.425781-20.566406.351563-6.378906 3.78125-10.183594 10.460937-10.183594 17.875v122.71875c0 7.378906 3.78125 14.046875 10.117188 17.832031 3.308594 1.976563 6.976562 2.96875 10.652344 2.96875 3.367187 0 6.742187-.832031 9.847656-2.503906l113.117188-60.824219c6.714843-3.613281 10.90625-10.59375 10.9375-18.222656.027343-7.628906-4.113282-14.640625-10.808594-18.304687zm-113.859375 63.617187v-91.71875l84.539062 46.257813zm0 0">
                            </path>
                            <path
                                d="m508.234375 91.527344-.023437-.234375c-.433594-4.121094-4.75-40.777344-22.570313-59.421875-20.597656-21.929688-43.949219-24.59375-55.179687-25.871094-.929688-.105469-1.78125-.203125-2.542969-.304688l-.894531-.09375c-67.6875-4.921874-169.910157-5.5937495-170.933594-5.59765575l-.089844-.00390625-.089844.00390625c-1.023437.00390625-103.246094.67578175-171.542968 5.59765575l-.902344.09375c-.726563.097657-1.527344.1875-2.398438.289063-11.101562 1.28125-34.203125 3.949219-54.859375 26.671875-16.972656 18.445312-21.878906 54.316406-22.382812 58.347656l-.058594.523438c-.152344 1.714844-3.765625 42.539062-3.765625 83.523437v38.3125c0 40.984375 3.613281 81.808594 3.765625 83.527344l.027344.257813c.433593 4.054687 4.746093 40.039062 22.484375 58.691406 19.367187 21.195312 43.855468 24 57.027344 25.507812 2.082031.238282 3.875.441406 5.097656.65625l1.183594.164063c39.082031 3.71875 161.617187 5.550781 166.8125 5.625l.15625.003906.15625-.003906c1.023437-.003907 103.242187-.675781 170.929687-5.597657l.894531-.09375c.855469-.113281 1.816406-.214843 2.871094-.324218 11.039062-1.171875 34.015625-3.605469 54.386719-26.019532 16.972656-18.449218 21.882812-54.320312 22.382812-58.347656l.058594-.523437c.152344-1.71875 3.769531-42.539063 3.769531-83.523438v-38.3125c-.003906-40.984375-3.617187-81.804687-3.769531-83.523437zm-26.238281 121.835937c0 37.933594-3.3125 77-3.625 80.585938-1.273438 9.878906-6.449219 32.574219-14.71875 41.5625-12.75 14.027343-25.847656 15.417969-35.410156 16.429687-1.15625.121094-2.226563.238282-3.195313.359375-65.46875 4.734375-163.832031 5.460938-168.363281 5.488281-5.082032-.074218-125.824219-1.921874-163.714844-5.441406-1.941406-.316406-4.039062-.558594-6.25-.808594-11.214844-1.285156-26.566406-3.042968-38.371094-16.027343l-.277344-.296875c-8.125-8.464844-13.152343-29.6875-14.429687-41.148438-.238281-2.710937-3.636719-42.238281-3.636719-80.703125v-38.3125c0-37.890625 3.304688-76.914062 3.625-80.574219 1.519532-11.636718 6.792969-32.957031 14.71875-41.574218 13.140625-14.453125 26.996094-16.054688 36.160156-17.113282.875-.101562 1.691407-.195312 2.445313-.292968 66.421875-4.757813 165.492187-5.464844 169.046875-5.492188 3.554688.023438 102.589844.734375 168.421875 5.492188.808594.101562 1.691406.203125 2.640625.3125 9.425781 1.074218 23.671875 2.699218 36.746094 16.644531l.121094.128906c8.125 8.464844 13.152343 30.058594 14.429687 41.75.226563 2.558594 3.636719 42.171875 3.636719 80.71875zm0 0">
                            </path>
                        </svg>
                         My Profile
                    </a>
                </li>
                <!-- <li class="<?= ($controller == 'UserProfiles' && $action == 'edit') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'user-profiles'.DS.'edit'?>">
                        <svg version="1.1" width="22px" height="22px" x="0px" y="0px" viewBox="0 0 258.75 258.75"
                            style="enable-background:new 0 0 258.75 258.75;" xml:space="preserve">
                            <g>
                                <circle cx="129.375" cy="60" r="60"></circle>
                                <path
                                    d="M129.375,150c-60.061,0-108.75,48.689-108.75,108.75h217.5C238.125,198.689,189.436,150,129.375,150z">
                                </path>
                            </g>
                        </svg>
                        Biography
                    </a>
                </li> -->
                <li class="<?= ($controller == 'UserRecords') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'user-records'.DS.'view'?>">
                        <svg version="1.1" width="22px" height="22px" x="0px" y="0px" viewBox="0 0 258.75 258.75"
                            style="enable-background:new 0 0 258.75 258.75;" xml:space="preserve">
                            <g>
                                <circle cx="129.375" cy="60" r="60"></circle>
                                <path
                                    d="M129.375,150c-60.061,0-108.75,48.689-108.75,108.75h217.5C238.125,198.689,189.436,150,129.375,150z">
                                </path>
                            </g>
                        </svg>
                        My Media
                    </a>
                </li>

                <li class="<?= ($controller == 'ArtistMusics') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'ArtistMusics'.DS.'add'?>">
                        <svg version="1.1" width="22px" height="22px" id="Capa_1" xmlns="" xmlns:xlink="" x="0px" y="0px"
                                 viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                            <g>
                                <g>
                                    <path style="fill:#ffff;" d="M24,14.059V5.584L18.414,0H0v32h24v-0.059c4.499-0.5,7.998-4.309,8-8.941
                                        C31.998,18.366,28.499,14.557,24,14.059z M17.998,2.413L21.586,6h-3.588C17.998,6,17.998,2.413,17.998,2.413z M2,30V1.998h14
                                        v6.001h6v6.06c-0.693,0.076-1.361,0.238-2,0.464V12H8v3l-4-3v10l4-3v3h6.059C14.022,22.329,14,22.661,14,23
                                        c0,2.829,1.308,5.352,3.35,7H2z M23,29.883c-3.801-0.009-6.876-3.084-6.885-6.883c0.009-3.801,3.084-6.876,6.885-6.885
                                        c3.799,0.009,6.874,3.084,6.883,6.885C29.874,26.799,26.799,29.874,23,29.883z"/>
                                    <polygon style="fill:#ffff;" points="19,24 27,24 22.998,20        "/>
                                </g>
                            </g>
                            </svg>
                        Music Video Upload
                    </a>
                </li>
                <!-- <li class="<?= ($controller == 'UserMediaHandles') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'user-media-handles'.DS.'edit'?>">
                        <svg version="1.1" id="Capa_1" x="0px" y="0px" width="22px" height="22px"
                            viewBox="0 0 188.547 188.547" style="enable-background:new 0 0 188.547 188.547;"
                            xml:space="preserve">
                            <g>
                                <path d="M94.589,145.478v13.019h46.765l6.235,6.235v6.235H29.118v-6.235l6.235-6.235h46.765v-13.025H15.281
                                       C6.884,145.471,0,138.584,0,130.188V32.861c0-8.397,6.877-15.281,15.281-15.281h146.143c8.415,0,15.284,6.875,15.284,15.281V64.05
                                       c-1.925-2.125-3.964-4.125-6.235-5.849v-25.34c0-4.987-4.056-9.045-9.049-9.045H15.281c-4.993,0-9.045,4.058-9.045,9.045v78.626
                                       c0,4.993,4.052,9.049,9.045,9.049h90.184c8.476,12.124,22.426,19.57,37.405,19.57c2.49,0,4.957-0.268,7.398-0.676l3.508,6.053
                                       H94.589V145.478z M176.951,74.77c10.863,18.816,4.396,42.977-14.432,53.822c-18.815,10.863-42.965,4.415-53.828-14.425
                                       c-10.859-18.804-4.396-42.953,14.42-53.813C141.919,49.491,166.082,55.951,176.951,74.77z M171.3,78.043
                                       c-9.073-15.707-29.222-21.099-44.926-12.054c-15.704,9.073-21.111,29.216-12.026,44.92c9.066,15.704,29.21,21.136,44.907,12.062
                                       C174.965,113.887,180.355,93.744,171.3,78.043z M172.42,126.162l-16.94,9.792l13.056,22.566l16.94-9.792L172.42,126.162z
                                        M187.229,151.834l-16.952,9.779c2.716,4.689,8.695,6.284,13.378,3.593S189.939,156.523,187.229,151.834z M108.058,45.64H26v6.235
                                       h82.058V45.64z M86.795,60.366H26v6.235h60.794V60.366z M86.795,75.099H26v6.235h60.794V75.099z M26,96.063h60.794v-6.235H26
                                       V96.063z"></path>
                            </g>
                        </svg>
                        Social Media handle
                    </a>
                </li> -->
                <li class="<?= ($controller == 'UserEvents') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'UserEvents'.DS.'add'?>">
                        <svg version="1.1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 60 60"
                            style="enable-background:new 0 0 60 60;" xml:space="preserve">
                            <g>
                                <path d="M57,4h-7V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H19V1c0-0.553-0.447-1-1-1h-7c-0.553,0-1,0.447-1,1v3H3
                                       C2.447,4,2,4.447,2,5v11v43c0,0.553,0.447,1,1,1h54c0.553,0,1-0.447,1-1V16V5C58,4.447,57.553,4,57,4z M43,2h5v3v3h-5V5V2z M12,2h5
                                       v3v3h-5V5V2z M4,6h6v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h22v3c0,0.553,0.447,1,1,1h7c0.553,0,1-0.447,1-1V6h6v9H4V6z
                                        M4,58V17h52v41H4z"></path>
                                <path d="M38,23h-7h-2h-7h-2h-9v9v2v7v2v9h9h2h7h2h7h2h9v-9v-2v-7v-2v-9h-9H38z M31,25h7v7h-7V25z M38,41h-7v-7h7V41z M22,34h7v7h-7
                                       V34z M22,25h7v7h-7V25z M13,25h7v7h-7V25z M13,34h7v7h-7V34z M20,50h-7v-7h7V50z M29,50h-7v-7h7V50z M38,50h-7v-7h7V50z M47,50h-7
                                       v-7h7V50z M47,41h-7v-7h7V41z M47,25v7h-7v-7H47z"></path>
                            </g>
                        </svg>
                        Upcoming Shows
                    </a>
                </li>
                <li class="<?= ($controller == 'UserMerchandises' && $action == 'add') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'UserMerchandises'.DS.'add'?>">
                        <svg version="1.1" id="Capa_1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M200.968,165.94v92.659c-4.702-1.67-9.757-2.587-15.024-2.587c-24.826,0-45.024,20.198-45.024,45.024
                                           s20.198,45.023,45.024,45.023c24.826,0,45.024-20.197,45.024-45.023V195.94h90.097v62.658c-4.702-1.67-9.757-2.587-15.024-2.587
                                           c-24.826,0-45.024,20.198-45.024,45.024s20.198,45.023,45.024,45.023s45.024-20.197,45.024-45.023V165.94H200.968z
                                            M185.944,316.06c-8.284,0-15.024-6.739-15.024-15.023s6.74-15.024,15.024-15.024s15.024,6.74,15.024,15.024
                                           S194.228,316.06,185.944,316.06z M306.04,316.06c-8.284,0-15.024-6.739-15.024-15.023s6.74-15.024,15.024-15.024
                                           s15.024,6.74,15.024,15.024S314.324,316.06,306.04,316.06z"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M429.213,0H306.454l-4.062,8.586C293.944,26.444,275.734,37.984,256,37.984s-37.944-11.54-46.393-29.398L205.545,0H82.787
                                           C37.138,0,0,37.138,0,82.787V222h66.492v290h379.016V222H512V82.787C512,37.138,474.862,0,429.213,0z M482,192h-36.492v-56.904
                                           h-30V482H96.492V135.096h-30V192H30V82.787C30,53.681,53.68,30,82.787,30H187.21c14.758,23.35,40.805,37.984,68.79,37.984
                                           S310.031,53.35,324.79,30h104.423C458.319,30,482,53.681,482,82.787V192z">
                                    </path>
                                </g>
                            </g>
                        </svg>

                        Merchandise
                    </a>
                </li>
                <li class="<?= ($controller == 'Connections') ? 'active': null ?>">
                     <a href="<?= $baseUrl.'artist'.DS.'UserProfiles'.DS.'pageUnderConstruction'?>">
                        <svg version="1.1" id="Capa_1" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg"
                            x="0px" y="0px" viewBox="0 0 489.3 489.3" style="enable-background:new 0 0 489.3 489.3;"
                            xml:space="preserve">
                            <g>
                                <g>
                                    <path
                                        d="M79.55,229.675c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0c70.6-70.6,185.5-70.6,256.1,0
                                           c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7c10.2-10.2,10.2-26.8,0-37.1C318.75,138.575,170.55,138.575,79.55,229.675z">
                                    </path>
                                    <path
                                        d="M150.35,300.475c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0c31.5-31.6,82.9-31.6,114.4,0
                                           c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7c10.2-10.2,10.2-26.8,0-37C286.95,248.475,202.35,248.475,150.35,300.475z">
                                    </path>
                                    <circle cx="244.65" cy="394.675" r="34.9"></circle>
                                    <path
                                        d="M481.65,157.675c-130.7-130.6-343.3-130.6-474,0c-10.2,10.2-10.2,26.8,0,37.1c10.2,10.2,26.8,10.2,37.1,0
                                           c110.2-110.3,289.6-110.3,399.9,0c5.1,5.1,11.8,7.7,18.5,7.7s13.4-2.6,18.5-7.7C491.85,184.575,491.85,167.975,481.65,157.675z">
                                    </path>
                                </g>
                            </g>
                        </svg>

                        Connections
                    </a>
                </li>
                <li class="<?= ($controller == 'connections') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'UserProfiles'.DS.'pageUnderConstruction'?>">
                        <svg height="22px" version="1.1" viewBox="0 0 512.00003 512" width="22px">
                            <g id="surface1">
                                <path
                                    d="M 509.054688 150.671875 L 401.941406 6.070312 C 399.109375 2.253906 394.640625 0 389.886719 0 C 385.132812 0 380.660156 2.253906 377.835938 6.070312 L 270.722656 150.671875 C 267.351562 155.222656 266.832031 161.289062 269.382812 166.347656 C 271.929688 171.40625 277.113281 174.601562 282.777344 174.601562 L 321.332031 174.601562 L 321.332031 247.101562 C 313.78125 243.210938 305.230469 241 296.164062 241 L 269.386719 241 C 238.96875 241 214.222656 265.746094 214.222656 296.164062 L 214.222656 327.433594 C 206.671875 323.542969 198.117188 321.332031 189.054688 321.332031 L 162.277344 321.332031 C 131.859375 321.332031 107.113281 346.082031 107.113281 376.5 L 107.113281 407.765625 C 99.558594 403.878906 91.007812 401.664062 81.945312 401.664062 L 55.164062 401.664062 C 24.746094 401.664062 0 426.414062 0 456.832031 L 0 497 C 0 505.285156 6.714844 512 15 512 L 443.441406 512 C 451.726562 512 458.441406 505.285156 458.441406 497 L 458.441406 174.601562 L 497 174.601562 C 502.664062 174.601562 507.847656 171.40625 510.394531 166.347656 C 512.945312 161.289062 512.425781 155.222656 509.054688 150.671875 Z M 30 456.832031 C 30 442.957031 41.289062 431.664062 55.164062 431.664062 L 81.941406 431.664062 C 95.820312 431.664062 107.109375 442.957031 107.109375 456.832031 L 107.109375 482 L 30 482 Z M 137.109375 456.832031 L 137.109375 376.5 C 137.109375 362.621094 148.398438 351.332031 162.277344 351.332031 L 189.054688 351.332031 C 202.929688 351.332031 214.21875 362.621094 214.21875 376.5 L 214.21875 482 L 137.109375 482 Z M 244.222656 376.5 L 244.222656 296.164062 C 244.222656 282.289062 255.511719 271 269.386719 271 L 296.164062 271 C 310.039062 271 321.332031 282.289062 321.332031 296.164062 L 321.332031 482 L 244.222656 482 Z M 443.441406 144.601562 C 435.15625 144.601562 428.441406 151.316406 428.441406 159.601562 L 428.441406 482 L 351.332031 482 L 351.332031 159.601562 C 351.332031 151.316406 344.613281 144.601562 336.332031 144.601562 L 312.554688 144.601562 L 389.886719 40.199219 L 467.222656 144.601562 Z M 443.441406 144.601562 ">
                                </path>
                            </g>
                        </svg>
                        Opportunities
                    </a>
                </li>
                <li>
                    <a href="<?= $baseUrl.'artist'.DS.'UserProfiles'.DS.'pageUnderConstruction'?>">
                        <svg height="22px" viewBox="-61 0 512 512" width="22px" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m0 15v482c0 8.285156 6.714844 15 15 15h360c8.285156 0 15-6.714844 15-15v-360c0-3.804688-1.476562-7.652344-4.335938-10.539062-.019531-.023438-.035156-.046876-.058593-.066407-46.554688-46.554687-73.144531-75.144531-120-122-.027344-.027343-.054688-.050781-.082031-.078125-2.703126-2.664062-6.46875-4.316406-10.523438-4.316406h-240c-8.285156 0-15 6.714844-15 15zm338.988281 107h-68.988281v-70.582031c24.691406 25.078125 44.167969 45.378906 68.988281 70.582031zm-308.988281-92h210v107c0 8.285156 6.714844 15 15 15h105v330h-330zm0 0">
                            </path>
                            <path
                                d="m71.359375 275.640625c5.859375 5.855469 15.355469 5.855469 21.214844 0l27.425781-27.429687 27.425781 27.429687c5.859375 5.855469 15.355469 5.855469 21.214844 0 5.855469-5.859375 5.855469-15.355469 0-21.214844l-27.425781-27.425781 27.425781-27.425781c5.855469-5.859375 5.855469-15.355469 0-21.214844-5.855469-5.855469-15.355469-5.855469-21.214844 0l-27.425781 27.425781-27.425781-27.425781c-5.859375-5.855469-15.355469-5.855469-21.214844 0-5.855469 5.859375-5.855469 15.355469 0 21.214844l27.425781 27.425781-27.425781 27.425781c-5.855469 5.859375-5.855469 15.355469 0 21.214844zm0 0">
                            </path>
                            <path
                                d="m304.394531 186.394531-49.394531 49.390625-19.394531-19.390625c-5.855469-5.859375-15.355469-5.859375-21.210938 0-5.859375 5.859375-5.859375 15.355469 0 21.210938l30 30c2.925781 2.929687 6.765625 4.394531 10.605469 4.394531s7.679688-1.464844 10.605469-4.394531l60-60c5.859375-5.859375 5.859375-15.355469 0-21.210938-5.855469-5.859375-15.355469-5.859375-21.210938 0zm0 0">
                            </path>
                            <path
                                d="m165 302h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h90c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0">
                            </path>
                            <path
                                d="m165 362h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h90c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0">
                            </path>
                            <path
                                d="m165 422h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h90c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0">
                            </path>
                            <path
                                d="m315 362h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h90c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0">
                            </path>
                            <path
                                d="m315 302h-90c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h90c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0">
                            </path>
                        </svg>
                        SCL Suggestions
                    </a>
                </li>
                <li>
                    <a href="<?= $baseUrl.'artist'.DS.'UserProfiles'.DS.'pageUnderConstruction'?>">
                        <svg height="22px" viewBox="0 0 512 512" width="22px" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m76 240c12.101562 0 23.054688-4.855469 31.148438-12.652344l44.402343 22.199219c-.222656 1.808594-.550781 3.585937-.550781 5.453125 0 24.8125 20.1875 45 45 45s45-20.1875 45-45c0-6.925781-1.703125-13.410156-4.511719-19.277344l60.234375-60.234375c5.867188 2.808594 12.351563 4.511719 19.277344 4.511719 24.8125 0 45-20.1875 45-45 0-4.671875-.917969-9.089844-2.246094-13.328125l52.335938-39.242187c7.140625 4.769531 15.699218 7.570312 24.910156 7.570312 24.8125 0 45-20.1875 45-45s-20.1875-45-45-45-45 20.1875-45 45c0 4.671875.917969 9.089844 2.246094 13.328125l-52.335938 39.242187c-7.140625-4.769531-15.699218-7.570312-24.910156-7.570312-24.8125 0-45 20.1875-45 45 0 6.925781 1.703125 13.410156 4.511719 19.277344l-60.234375 60.234375c-5.867188-2.808594-12.351563-4.511719-19.277344-4.511719-12.101562 0-23.054688 4.855469-31.148438 12.652344l-44.402343-22.199219c.222656-1.808594.550781-3.585937.550781-5.453125 0-24.8125-20.1875-45-45-45s-45 20.1875-45 45 20.1875 45 45 45zm0 0">
                            </path>
                            <path
                                d="m497 482h-16v-317c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v317h-30v-227c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v227h-30v-107c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v107h-30v-167c0-8.289062-6.710938-15-15-15h-60c-8.289062 0-15 6.710938-15 15v167h-16c-8.289062 0-15 6.710938-15 15s6.710938 15 15 15h482c8.289062 0 15-6.710938 15-15s-6.710938-15-15-15zm0 0">
                            </path>
                        </svg>
                        Reports
                    </a>
                </li>
                <li class="<?= ($controller == 'UserBankDetails') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'user-bank-details'.DS.'edit'?>">

                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 212.755 212.755" width="22px"
                            height="22px" enable-background="new 0 0 212.755 212.755">
                            <g>
                                <path
                                    d="M106.377,0C47.721,0,0,47.721,0,106.377s47.721,106.377,106.377,106.377s106.377-47.721,106.377-106.377   S165.034,0,106.377,0z M106.377,198.755C55.44,198.755,14,157.314,14,106.377S55.44,14,106.377,14s92.377,41.44,92.377,92.377   S157.314,198.755,106.377,198.755z">
                                </path>
                                <path
                                    d="m113.377,100.096v-39.744c3.961,1.471 7.417,4.17 9.82,7.82 2.127,3.229 6.468,4.123 9.696,1.997 3.229-2.126 4.123-6.467 1.996-9.696-5.029-7.636-12.778-12.82-21.512-14.647v-11.12c0-3.866-3.134-7-7-7s-7,3.134-7,7v11.099c-15.493,3.23-27.168,16.989-27.168,33.426 0,16.437 11.676,30.198 27.168,33.428v39.744c-3.961-1.471-7.417-4.17-9.82-7.82-2.127-3.229-6.468-4.124-9.696-1.997-3.229,2.126-4.123,6.467-1.996,9.696 5.029,7.636 12.778,12.82 21.512,14.647v11.119c0,3.866 3.134,7 7,7s7-3.134 7-7v-11.098c15.493-3.23 27.168-16.989 27.168-33.426-2.84217e-14-16.437-11.675-30.198-27.168-33.428zm-27.168-20.865c0-8.653 5.494-16.027 13.168-18.874v37.748c-7.674-2.847-13.168-10.221-13.168-18.874zm27.168,73.166v-37.748c7.674,2.847 13.168,10.221 13.168,18.874s-5.493,16.027-13.168,18.874z">
                                </path>
                            </g>
                        </svg>
                        Banking Information
                    </a>
                </li>
                <li>
                    <a href="<?= $baseUrl.'artist'.DS.'UserProfiles'.DS.'pageUnderConstruction'?>">
                        <svg version="1.1" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M458.667,85.333H53.333C23.936,85.333,0,109.269,0,138.667v234.667c0,29.397,23.936,53.333,53.333,53.333h405.333
                                                    c29.397,0,53.333-23.936,53.333-53.333V138.667C512,109.269,488.064,85.333,458.667,85.333z M490.667,373.333
                                                    c0,17.643-14.357,32-32,32H53.333c-17.643,0-32-14.357-32-32V138.667c0-17.643,14.357-32,32-32h405.333c17.643,0,32,14.357,32,32
                                                    V373.333z"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M501.333,149.333H10.667C4.779,149.333,0,154.112,0,160v64c0,5.888,4.779,10.667,10.667,10.667h490.667
                                                    c5.888,0,10.667-4.779,10.667-10.667v-64C512,154.112,507.221,149.333,501.333,149.333z M490.667,213.333H21.333v-42.667h469.333
                                                    V213.333z"></path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M202.667,298.667h-128c-5.888,0-10.667,4.779-10.667,10.667S68.779,320,74.667,320h128
                                                    c5.888,0,10.667-4.779,10.667-10.667S208.555,298.667,202.667,298.667z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path
                                        d="M202.667,341.333h-128C68.779,341.333,64,346.112,64,352c0,5.888,4.779,10.667,10.667,10.667h128
                                                    c5.888,0,10.667-4.779,10.667-10.667C213.333,346.112,208.555,341.333,202.667,341.333z">
                                    </path>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M416,277.333h-21.333c-17.643,0-32,14.357-32,32v21.333c0,17.643,14.357,32,32,32H416c17.643,0,32-14.357,32-32v-21.333
                                                    C448,291.691,433.643,277.333,416,277.333z M426.667,330.667c0,5.888-4.779,10.667-10.667,10.667h-21.333
                                                    c-5.888,0-10.667-4.779-10.667-10.667v-21.333c0-5.888,4.779-10.667,10.667-10.667H416c5.888,0,10.667,4.779,10.667,10.667
                                                    V330.667z"></path>
                                </g>
                            </g>
                        </svg>
                        Payment Information
                    </a>
                </li>
                <li>
                    <a href="<?= $baseUrl.'artist'.DS.'UserProfiles'.DS.'pageUnderConstruction'?>">
                        <svg viewBox="0 -31 512 512" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="m497.09375 60.003906c-.03125 0-.0625-.003906-.09375-.003906h-136v-15c0-24.8125-20.1875-45-45-45h-120c-24.8125 0-45 20.1875-45 45v15h-136c-8.351562 0-15 6.84375-15 15v330c0 24.8125 20.1875 45 45 45h422c24.8125 0 45-20.1875 45-45v-329.683594c0-.019531 0-.039062 0-.058594-.574219-9.851562-6.632812-15.199218-14.90625-15.253906zm-316.09375-15.003906c0-8.269531 6.730469-15 15-15h120c8.269531 0 15 6.730469 15 15v15h-150zm295.1875 45-46.582031 139.742188c-2.042969 6.136718-7.761719 10.257812-14.226563 10.257812h-84.378906v-15c0-8.285156-6.714844-15-15-15h-120c-8.285156 0-15 6.714844-15 15v15h-84.378906c-6.464844 0-12.183594-4.121094-14.226563-10.257812l-46.582031-139.742188zm-175.1875 150v30h-90v-30zm181 165c0 8.269531-6.730469 15-15 15h-422c-8.269531 0-15-6.730469-15-15v-237.566406l23.933594 71.796875c6.132812 18.40625 23.289062 30.769531 42.6875 30.769531h84.378906v15c0 8.285156 6.714844 15 15 15h120c8.285156 0 15-6.714844 15-15v-15h84.378906c19.398438 0 36.554688-12.363281 42.6875-30.769531l23.933594-71.796875zm0 0">
                            </path>
                        </svg>
                        Business Development
                    </a>
                </li>
                <li class="<?= ($controller == 'Logins' && $action == 'edit') ? 'active': null ?>">
                    <a href="<?= $baseUrl.'artist'.DS.'change-password'?>">
                        <svg version="1.1" width="22px" height="22px" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <g>
                                        <circle cx="370" cy="346" r="20"></circle>
                                        <path d="M460,362c11.046,0,20-8.954,20-20v-74c0-44.112-35.888-80-80-80h-24.037v-70.534C375.963,52.695,322.131,0,255.963,0
                                               s-120,52.695-120,117.466V188H112c-44.112,0-80,35.888-80,80v164c0,44.112,35.888,80,80,80h288c44.112,0,80-35.888,80-80
                                               c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20c0,22.056-17.944,40-40,40H112c-22.056,0-40-17.944-40-40V268
                                               c0-22.056,17.944-40,40-40h288c22.056,0,40,17.944,40,40v74C440,353.046,448.954,362,460,362z M335.963,188h-160v-70.534
                                               c0-42.715,35.888-77.466,80-77.466s80,34.751,80,77.466V188z"></path>
                                        <circle cx="219" cy="346" r="20"></circle>
                                        <circle cx="144" cy="346" r="20"></circle>
                                        <circle cx="294" cy="346" r="20"></circle>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        Change Password
                    </a>
                </li>
            </ul>
        </div>
    </nav>