<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\ArtistMusic[]|\Cake\Collection\CollectionInterface $artistMusics
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Artist Music'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="artistMusics index large-9 medium-8 columns content">
    <h3><?= __('Artist Musics') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('user_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('video_name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('video_dir') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col"><?= $this->Paginator->sort('modified') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($artistMusics as $artistMusic): ?>
            <tr>
                <td><?= $this->Number->format($artistMusic->id) ?></td>
                <td><?= $artistMusic->has('user') ? $this->Html->link($artistMusic->user->id, ['controller' => 'Users', 'action' => 'view', $artistMusic->user->id]) : '' ?></td>
                <td><?= h($artistMusic->video_name) ?></td>
                <td><?= h($artistMusic->video_dir) ?></td>
                <td><?= h($artistMusic->created) ?></td>
                <td><?= h($artistMusic->modified) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $artistMusic->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $artistMusic->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $artistMusic->id], ['confirm' => __('Are you sure you want to delete # {0}?', $artistMusic->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
